In [1]:
import os 
from sqlalchemy import create_engine
import pandas as pd

user1 = os.environ['PAYMEE_SONTATA_DB_USER']
password = os.environ['PAYMEE_SONTATA_DB_PASSWORD']
db = "Sonata_Connect"
server = "172.17.130.216"   

engine = create_engine(f"mssql+pyodbc://{user1}:{password}@{server}/{db}?driver=ODBC+Driver+17+for+SQL+Server")


pd.set_option('display.max_columns', 500)
sql_query = f"""SET NOCOUNT ON;EXEC [{db}].[dbo].[SP_UserHierarchy_Dynamic_07Jan23] @userid = 6892;SET NOCOUNT OFF"""
df=pd.read_sql_query(sql_query,engine)

df = df.replace(['Prayagraj Division','Lucknow Division'],['Prayagraj', 'Lucknow'])
df = df.tail(-1)

userid_list = df['UserID'].unique().tolist()
print('useridlist', userid_list)

sql_query = f"""SET NOCOUNT ON;SELECT task_id, task_description, status, priority, assigned_to, created_by, completion_date, created_on, deadline_date, category, review, feedback FROM [{db}].[dbo].accounts_task_details ORDER BY created_on;SET NOCOUNT OFF"""
all_tasks_df=pd.read_sql_query(sql_query,engine)

useridlist [7540, 9739, 15183, 16278, 19113, 19115, 21350, 23659, 27066, 27068, 32060, 3557, 7535, 18094, 7587, 10855, 11856, 15190, 19125, 21360, 32147, 4783, 7541, 10849, 15184, 15187, 29643, 31069, 7662, 17560, 19109, 23725, 28117, 31995, 4366, 7546, 7555, 7563, 7577, 9741, 15186, 16326, 17756, 18039, 18086, 19126, 19128, 7556, 7575, 7665, 15185, 18097, 19111, 7560, 7640, 10851, 15189, 7663, 10846, 17945, 22622, 7567, 15111, 18060, 18090, 19127, 27105, 7569, 22544, 22621, 24803, 7114, 7465, 27188, 0, 18091, 31035, 17944, 18043, 18102, 29791, 18034, 25063, 1968, 31303, 7543, 18033, 30464, 31300, 31868, 1174, 30567, 30571, 31026, 1074, 15054, 4891, 14050, 19132, 21158, 31941, 7013, 24776, 27095, 27992, 30095, 16347, 30572, 30577, 18035, 27938, 31505, 18024, 30565, 31038, 2774, 7074, 10850, 18037, 18092, 31145, 24808, 31027, 1976, 7342, 17691, 17692, 30746, 4347, 7272, 7544, 31305, 16283, 21479, 30223, 31169, 31306, 32126, 23657, 18036, 4708, 27998, 7664, 18093, 18044, 18023, 27101, 31025, 1622, 27098, 10848, 30336, 17841, 31085, 21376, 9740, 31302, 30728, 19130, 1692, 24773, 516, 214, 1359, 7659, 1466, 21462, 24795, 24854, 7660, 4810, 21460, 25094, 2399, 7612, 10768, 3686, 3232, 3830, 1175, 24812, 16207, 3076, 14045, 23713, 24807, 18029, 24804, 1623, 3835, 4505, 18062, 7271, 4352, 3772, 15052, 127, 24794, 3245, 3438, 15051, 16536, 7197, 7118, 7286, 4829, 7171, 1965, 4583, 7101, 17648, 3751, 16535, 7111, 1726, 2773, 17668, 24785, 1959, 7050, 18040, 4275, 17596, 21199, 2554, 3852, 4677, 3068, 3442, 2419, 24774, 12009, 16332, 18027, 3904, 3685, 2965, 2670, 1472, 18061, 3883, 12037, 3562, 17690, 17703, 119, 1858, 4224, 18026, 7525, 259, 1206, 18022, 4059, 524, 4014, 11909, 2477, 7657, 17563, 4925, 4166, 15207, 21433, 24813, 677, 3444, 7211, 2072, 1104, 7437, 17573, 4459, 4237, 5255, 3367, 7283, 24863, 1668, 24780, 3681, 7611, 1750, 3710, 29558, 24867, 4160, 4631, 24860, 1859, 4933, 7079, 4471, 3940, 3496, 1216, 4165, 18032, 7485, 1824, 2668, 1675, 2810, 3353, 4797, 25715, 27274, 31073, 2426, 4047, 7219, 31572, 31574, 2164, 7408, 27892, 30533, 31935, 32020, 1478, 3120, 3387, 3529, 28408, 29881, 29903, 1564, 30616, 31678, 31787, 3371, 4741, 16263, 30820, 31568, 31655, 3682, 27179, 27245, 29995, 79, 22484, 25555, 30160, 30308, 30399, 4414, 5219, 16239, 25549, 30552, 4183, 9760, 15055, 21310, 4041, 27973, 30890, 31224, 31849, 4726, 10795, 22615, 30218, 31575, 15057, 28446, 30914, 31001, 3661, 3761, 29527, 30754, 17728, 23722, 25733, 30168, 30302, 2916, 7138, 15083, 30185, 31109, 4408, 4913, 30530, 31593, 435, 4182, 25428, 30901, 25157, 27674, 29702, 30515, 31337, 31766, 32102, 32103, 7062, 25137, 29528, 29834, 3811, 4914, 17585, 26818, 32097, 4262, 25292, 29654, 30323, 30778, 31120, 32093, 5144, 25400, 29830, 31064, 31489, 31687, 25224, 27460, 28337, 31488, 31717, 32009, 5241, 16300, 21287, 30362, 31382, 3377, 22567, 27786, 30306, 31547, 31865, 31976, 32084, 2175, 27083, 27108, 30143, 31406, 31554, 31647, 32046, 3572, 21224, 24855, 26871, 28008, 32089, 1511, 15077, 26979, 28001, 29481, 32158, 3035, 11892, 17787, 17858, 30016, 31270, 31991, 32035, 1085, 30944, 31020, 31152, 31377, 4254, 4790, 27790, 31664, 32123, 2114, 2708, 3347, 24902, 25672, 26862, 31357, 31571, 31579, 31755, 4609, 27036, 29878, 30186, 30743, 1775, 28266, 30209, 30861, 31494, 31936, 31939, 4037, 17963, 21206, 29520, 29778, 30860, 31841, 216, 16475, 25671, 28024, 30378, 31693, 4068, 21220, 22525, 25443, 29947, 30361, 31126, 31960, 31961, 31981, 32004, 2303, 25325, 25681, 29960, 31546, 31837, 3037, 29579, 29580, 30949, 31343, 31878, 31926, 3354, 28429, 29950, 31123, 31229, 4781, 21444, 28048, 30264, 31899, 5242, 7500, 31002, 31203, 4871, 4994, 10791, 12000, 31711, 11869, 26951, 27848, 30553, 32170, 12036, 25784, 27107, 30478, 30479, 30677, 32036, 4185, 4638, 30733, 31873, 31934, 24903, 25044, 27528, 30325, 31586, 32034, 3269, 3355, 16299, 21222, 25341, 27789, 30259, 3203, 7436, 29917, 30108, 30289, 31775, 468, 27690, 30814, 30956, 31185, 31258, 31998, 32114, 1471, 7604, 24894, 25080, 30412, 31230, 2036, 25125, 27862, 29808, 29809, 30766, 31517, 31661, 31903, 22630, 24849, 29738, 31737, 4329, 17918, 30573, 31040, 31049, 32132, 3105, 24847, 31677, 32111, 1417, 10854, 28347, 30013, 32019, 11888, 16293, 26987, 28249, 31050, 31669, 11928, 27148, 29911, 30579, 31039, 32059, 2677, 3860, 4222, 22605, 22632, 27022, 31104, 3626, 16442, 21259, 29544, 29842, 31391, 31479, 3945, 4808, 18059, 32031, 3911, 11920, 25169, 31013, 31015, 31265, 32072, 3967, 4411, 7533, 27134, 27834, 28182, 29996, 32156, 1884, 15056, 27178, 30482, 31793, 31897, 2107, 7365, 30443, 30447, 31356, 31637, 3748, 16258, 17915, 17983, 31200, 31375, 4038, 17604, 17972, 27989, 29919, 31807, 32117, 3450, 30270, 30415, 30554, 30559, 30768, 31088, 31933, 3207, 10787, 24984, 27512, 32137, 3376, 17941, 25677, 28170, 28201, 30425, 30426, 5003, 28237, 30190, 31136, 31160, 31268, 31923, 3762, 3842, 28118, 30127, 3072, 25530, 28089, 29913, 30256, 643, 3005, 27144, 27794, 30024, 30394, 31668, 32062, 2418, 3855, 12024, 21470, 27109, 28207, 28234, 30618, 1709, 2896, 27497, 30984, 31587, 31649, 31665, 3944, 17998, 27513, 30632, 31883, 2454, 27751, 30201, 30517, 30856, 31016, 31312, 1069, 1934, 26906, 27782, 29587, 30806, 31750, 1410, 23726, 27311, 27350, 29898, 31354, 2987, 4439, 27273, 27688, 3135, 29912, 30615, 30974, 7413, 25185, 25340, 29739, 30424, 1856, 27548, 30101, 31090, 31275, 31441, 31459, 32018, 4947, 25574, 28112, 29963, 31347, 1846, 25344, 26855, 30391, 30742, 31738, 3020, 3375, 17764, 30717, 30998, 31732, 32037, 1649, 21328, 29543, 31093, 31225, 876, 17705, 21451, 29491, 30975, 31099, 31585, 31758, 32161, 16, 3165, 4062, 7346, 17948, 24830, 29679, 18009, 28330, 30304, 30688, 30769, 31243, 31491, 31622, 2040, 4691, 11917, 22546, 31034, 31584, 31604, 3214, 4200, 7289, 27234, 30721, 30996, 31583, 31970, 32053, 3221, 4921, 7434, 28414, 29734, 30718, 32136, 16215, 30496, 30720, 31292, 31469, 31892, 4882, 21352, 29503, 31576, 31992, 32142, 32162, 3892, 21415, 30112, 30589, 31033, 31471, 31828, 4644, 17970, 24851, 30873, 31293, 32055, 32150, 2630, 27468, 28252, 30199, 31958, 7445, 24913, 25648, 30544, 31733, 31771, 2939, 27791, 30163, 30262, 31984, 109, 4441, 30014, 31161, 3184, 4572, 16517, 17952, 28420, 31615, 7375, 27788, 29946, 31484, 31611, 31999, 32038, 2616, 10814, 30469, 30546, 30999, 2899, 25065, 25259, 28040, 28307, 28461, 29687, 29851, 31824, 32172, 1737, 21368, 22508, 30476, 31435, 3569, 7498, 25645, 30725, 5069, 30271, 30375, 30555, 31157, 31912, 17647, 27801, 28177, 29921, 4938, 31106, 31129, 31208, 31519, 8685, 22584, 29522, 30179, 31756, 5021, 5050, 25685, 28356, 30724, 3891, 5212, 17708, 30352, 30859, 31113, 31134, 31931, 31940, 5180, 25474, 29909, 29974, 31699, 3954, 27830, 28055, 28458, 28459, 30139, 31410, 4843, 25172, 25544, 31037, 31076, 31335, 31646, 32005, 3180, 10808, 16336, 28316, 30347, 4405, 29733, 30167, 30320, 31291, 1940, 30115, 30364, 30419, 31735, 31989, 32092, 32167, 2424, 11875, 16241, 17612, 29772, 31788, 31908, 1911, 27031, 29936, 30227, 31198, 31877, 2541, 23670, 25302, 29611, 31472, 31721, 31957, 31969, 10809, 28018, 30928, 31278, 31470, 31928, 32012, 4570, 25261, 27310, 410, 28038, 30912, 30972, 1374, 27974, 30146, 31167, 21, 30203, 31063, 31854, 31855, 11958, 29593, 30161, 30730, 31314, 752, 25615, 27146, 27584, 28021, 28030, 28125, 30568, 31534, 32086, 2944, 4219, 30281, 30808, 31226, 31627, 1910, 29674, 29923, 30298, 30686, 31252, 32152, 15176, 25614, 27081, 27675, 27983, 30031, 31251, 16358, 18011, 29879, 30373, 30493, 30962, 31845, 32104, 11979, 25755, 27425, 27501, 31158, 31253, 31859, 21165, 27970, 27972, 30558, 31156, 3837, 25349, 30989, 31184, 31187, 31250, 2382, 27213, 31353, 31355, 1658, 31344, 16428, 21371, 29939, 30497, 31009, 31827, 31942, 2911, 16277, 17610, 30631, 30722, 30811, 31021, 10818, 17824, 21390, 30134, 32041, 32121, 3300, 21203, 25673, 26808, 27975, 28276, 31171, 2996, 3061, 25164, 28095, 31805, 3877, 24823, 29812, 30261, 31481, 1430, 21260, 26886, 29504, 31449, 3869, 25495, 25634, 30291, 31881, 32116, 4191, 25131, 30463, 31409, 31696, 3875, 4513, 16211, 25055, 30875, 31653, 1810, 22572, 29956, 31144, 32145, 10815, 21372, 30037, 30104, 30938, 3194, 16426, 24907, 30231, 30613, 3250, 16469, 24906, 30448, 31633, 4924, 27582, 29868, 29871, 30903, 4934, 22635, 29916, 3512, 29607, 31462, 32021, 801, 25658, 29555, 30605, 31448, 5137, 24950, 27137, 30470, 30752, 31760, 3274, 29484, 29757, 31048, 31682, 4107, 17808, 24947, 29635, 30450, 30726, 32033, 3615, 17658, 28185, 30006, 30716, 31684, 31927, 16246, 27807, 30172, 31540, 16244, 27495, 29705, 30527, 31030, 31536, 23655, 27479, 29873, 31351, 17911, 27852, 30598, 31237, 32029, 32082, 3093, 28256, 29884, 29885, 30765, 31417, 31673, 7330, 21400, 27280, 30453, 31233, 31249, 3056, 4664, 22614, 31080, 31463, 3079, 27681, 30299, 30983, 31164, 15171, 18049, 21265, 31196, 31349, 31641, 32115, 32131, 3589, 30319, 30852, 31234, 10803, 10804, 10822, 28416, 29983, 31122, 17924, 21155, 30022, 31044, 3780, 17967, 28041, 29571, 31495, 32163, 3701, 4915, 28455, 31618, 3004, 3949, 17893, 22578, 25383, 28405, 3023, 26911, 28373, 29766, 31181, 11861, 27232, 27370, 27429, 31191, 21342, 29657, 30526, 31032, 32050, 3876, 4873, 12002, 16483, 31652, 229, 25100, 27875, 30710, 32000, 11878, 27256, 27771, 28424, 31331, 3064, 17607, 21405, 28421, 31222, 32119, 32144, 4188, 23764, 25661, 27289, 29742, 29980, 1948, 24871, 27842, 10778, 21327, 30398, 31497, 4688, 27559, 30198, 31279, 31825, 4141, 27115, 29902, 30877, 31474, 31690, 3290, 28127, 29822, 30876, 31919, 10827, 25221, 29794, 30019, 31431, 31937, 3410, 27611, 27691, 28450, 32067, 4522, 21435, 24872, 31232, 5231, 26882, 30514, 31005, 31264, 31685, 31830, 2907, 2949, 3473, 31874, 16525, 29728, 31966, 21161, 25486, 28059, 29732, 30062, 1618, 21392, 22499, 27186, 28472, 30556, 31856, 22564, 31656, 31921, 31938, 31994, 3401, 4874, 5079, 7082, 17789, 17857, 29606, 22486, 27905, 30094, 30440, 30713, 30917, 31898, 1543, 28115, 29620, 29760, 30133, 31550, 31658, 31757, 31983, 17726, 29726, 31616, 3721, 27898, 27900, 30150, 30931, 31701, 7642, 27902, 29786, 30076, 30637, 31514, 32043, 17959, 25016, 27589, 27739, 31017, 31383, 31809, 32044, 10798, 27131, 28412, 31141, 31170, 16384, 27738, 30074, 31396, 31513, 32025, 5177, 27665, 29683, 30467, 31630, 3366, 27800, 30243, 30244, 30272, 31848, 3943, 25720, 27615, 30377, 30902, 31666, 4853, 10794, 30444, 31712, 5318, 27643, 27709, 29688, 30850, 3236, 25725, 30477, 32135, 16403, 25356, 25786, 29594, 30049, 30661, 31628, 2225, 29536, 30780, 32129, 2863, 3034, 3567, 31061, 31195, 2862, 25068, 31114, 1895, 17949, 27887, 29818, 30116, 24869, 30237, 30830, 30846, 3400, 29661, 31274, 31592, 32159, 15072, 27318, 28320, 29531, 30149, 31345, 25175, 30121, 30786, 31031, 4695, 27451, 27851, 28360, 30550, 23688, 30331, 30663, 31452, 2397, 11908, 13052, 30505, 30749, 30807, 31178, 1267, 7629, 25660, 25709, 30148, 25351, 26976, 27120, 30321, 31228, 31870, 3471, 27991, 29556, 30386, 4964, 17698, 31074, 31175, 31810, 32042, 4504, 25675, 26932, 27333, 31079, 31148, 25731, 27678, 28302, 30131, 31567, 31707, 16466, 27485, 30744, 31777, 31778, 4022, 21401, 27522, 27607, 27686, 31558, 2412, 21399, 25448, 27247, 28162, 1852, 25220, 29762, 29801, 30257, 31657, 25741, 31179, 31247, 31256, 31644, 31930, 608, 23682, 28102, 30427, 30684, 24789, 29831, 30296, 31520, 31740, 31847, 31901, 32148, 32149, 25470, 25737, 30812, 30835, 31000, 18015, 29874, 29891, 30978, 32098, 16520, 25285, 25805, 27839, 31552, 32076, 15167, 27606, 27785, 29954, 30472, 30473, 31372, 31796, 13048, 27909, 29984, 30435, 30611, 31326, 31895, 31896, 11974, 27567, 29533, 29751, 30761, 31367, 31715, 31774, 16506, 26953, 30083, 30088, 30385, 31056, 31100, 31708, 24790, 25320, 27156, 31924, 15139, 22551, 27880, 30111, 31893, 5215, 28090, 30869, 31091, 31180, 31257, 32066, 21254, 29670, 30608, 30706, 31741, 31765, 31902, 25611, 27726, 28081, 28216, 28438, 30697, 25041, 27931, 30328, 31705, 31779, 32024, 17712, 30389, 30874, 31428, 31832, 32141, 32169, 16540, 27001, 30333, 30954, 31438, 31745, 25379, 25612, 27718, 29754, 30699, 31052, 31402, 32026, 32028, 25493, 31595, 32008, 4261, 4584, 31689, 31946, 12020, 30229, 4220, 27343, 30055, 4297, 26914, 27638, 31062, 16504, 21324, 27959, 2803, 28365, 31823, 31918, 21300, 26990, 29836, 30655, 31533, 31990, 7503, 28443, 28444, 30372, 32081, 32100, 3988, 27784, 30307, 31580, 15100, 26817, 30090, 30164, 30569, 31955, 31977, 25043, 29565, 30701, 31978, 32068, 2327, 23701, 27826, 30034, 31019, 9745, 31151, 2702, 15092, 27815, 29890, 31719, 32113, 32124, 2091, 5315, 28103, 28467, 29972, 32160, 3821, 30882, 30883, 31374, 31539, 17940, 27385, 29855, 31617, 32022, 25197, 25538, 30183, 30332, 30887, 31206, 31929, 31947, 31987, 32087, 32110, 4083, 28218, 28296, 30626, 32109, 3378, 25133, 29545, 29682, 31640, 31953, 3939, 22529, 23766, 30885, 1975, 16275, 30519, 32140, 4724, 24883, 30403, 31706, 32143, 5112, 25318, 30429, 30474, 4606, 27087, 31434, 32146, 17834, 30379, 4032, 11921, 28062, 30438, 30894, 32118, 17971, 30370, 30371, 31008, 31399, 17929, 30382, 30383, 31405, 31482, 31944, 3078, 3229, 27986, 29942, 31834, 31943, 2796, 22581, 28413, 4017, 26955, 30255, 30672, 31569, 9708, 25562, 27484, 30402, 1023, 27394, 30129, 31526, 3722, 4030, 29714, 30276, 32106, 2842, 15097, 28380, 31201, 22607, 26837, 30217, 31220, 26867, 28409, 30538, 31277, 31925, 15104, 21375, 27603, 29560, 31071, 32101, 4518, 21261, 28403, 29813, 30925, 4295, 25665, 27620, 28098, 31221, 31386, 17990, 29523, 29949, 31570, 3282, 16408, 25434, 29860, 30789, 31839, 4172, 27818, 29926, 29938, 30868, 31092, 7676, 29710, 30451, 31962, 32071, 32083, 13051, 27735, 30800, 32023, 21443, 25153, 29487, 30804, 2688, 28036, 28369, 10766, 28368, 30705, 31313, 32016, 4480, 27775, 29931, 8683, 30350, 31915, 31916, 4983, 27516, 30488, 31042, 31083, 5198, 27922, 29768, 30387, 31384, 32049, 454, 29639, 29940, 32017, 17809, 27024, 29609, 30832, 31596, 4082, 23734, 27534, 30779, 31006, 25551, 26917, 27508, 29574, 30355, 16421, 27504, 31688, 31973, 3074, 28396, 30155, 23735, 30863, 31829, 7241, 27166, 27666, 28417, 4349, 27377, 28269, 30313, 31625, 32090, 24980, 27578, 31698, 16379, 23752, 25009, 28194, 5133, 28154, 30905, 31518, 22589, 27716, 30966, 31213, 31346, 32073, 22640, 28334, 30081, 30932, 30933, 31271, 31727, 31905, 31967, 4331, 21473, 29638, 30012, 21337, 30855, 31150, 4354, 28254, 30436, 31036, 31105, 31842, 3791, 28295, 28419, 32107, 4784, 24891, 27520, 30042, 31562, 31816, 15129, 15165, 25309, 27656, 28173, 2209, 28318, 29922, 29998, 13049, 25519, 30274, 31573, 31772, 5091, 27314, 31103, 31112, 25114, 27745, 29640, 29749, 30078, 31149, 31453, 31886, 16245, 27014, 27367, 29810, 30889, 16390, 30349, 30961, 31159, 31754, 31988, 5308, 27953, 30041, 31047, 31254, 31255, 3315, 26969, 28035, 31084, 31541, 16494, 27903, 30070, 31366, 5055, 27400, 31891, 31907, 12014, 27744, 30275, 31183, 31762, 4516, 25773, 27481, 30689, 25413, 26966, 27046, 29914, 30205, 30836, 31670, 25083, 31591, 31594, 31875, 3397, 28310, 30751, 18013, 30029, 30774, 30922, 31412, 31418, 31884, 25081, 27395, 30061, 30977, 31381, 32105, 5076, 24786, 29992, 30158, 31879, 16491, 28326, 29624, 29703, 32079, 4758, 25509, 25578, 27075, 27748, 30147, 31364, 4267, 27235, 29991, 4089, 29988, 31115, 31177, 31746, 1509, 24782, 29677, 29769, 2977, 6870, 29961, 30950, 31598, 31909, 118, 29680, 30503, 30839, 32095, 4917, 29971, 30363, 31081, 31885, 32091, 3706, 27027, 30107, 31199, 31914, 4703, 30610, 30700, 31010, 24971, 26889, 30357, 30997, 31718, 31800, 1542, 21284, 27458, 29568, 7237, 30265, 7173, 7463, 16354, 22608, 30109, 4580, 28393, 30188, 30921, 21398, 31642, 31659, 17614, 27315, 27521, 28014, 29499, 21355, 29626, 31979, 27449, 30788, 17674, 27473, 31075, 4164, 28282, 30588, 31476, 21197, 27054, 27241, 30075, 30207, 31413, 21363, 31219, 31321, 31398, 21379, 27979, 28418, 31499, 31508, 17955, 25288, 31137, 31138, 31537, 26840, 27277, 28031, 28378, 27586, 30211, 31327, 10788, 31055, 31236, 31650, 17850, 30214, 30561, 32027, 25096, 26916, 27371, 28400, 31974, 16451, 26891, 30165, 31211, 32085, 32122, 15066, 24796, 24917, 30232, 7297, 25550, 25563, 30643, 31922, 16423, 28279, 28476, 28477, 25312, 25386, 27700, 31426, 15091, 27118, 30430, 31003, 17830, 28068, 28281, 29719, 31906, 17591, 25674, 29781, 30837, 32058, 21477, 29948, 31214, 31427, 15154, 30879, 31140, 31190, 4597, 27260, 31986, 32030, 1767, 31866, 4768, 31072, 27073, 28105, 31840, 4557, 5252, 26921, 27840, 30196, 32151, 21198, 29511, 29832, 30582, 16455, 21277, 26964, 32045, 15197, 29510, 30623, 31674, 31697, 11906, 27645, 31096, 31098, 4167, 25724, 27813, 31045, 31046, 7328, 30581, 31836, 31975, 2876, 27321, 31675, 32032, 4992, 29706, 31086, 21459, 27526, 27555, 12008, 26848, 27883, 30970, 31166, 18088, 23728, 30360, 30367, 30368, 17729, 25373, 27233, 27404, 28005, 29979, 32075, 32166, 21307, 25604, 27858, 28205, 28395, 31454, 32002, 17950, 28078, 30342, 30461, 30462, 30653, 31512, 31781, 31894, 16328, 27778, 27781, 32054, 25621, 30941, 31524, 31785, 21246, 27190, 30853, 30858, 31662, 31888, 31890, 32176, 24884, 28066, 30809, 21419, 25692, 27876, 31328, 21294, 26993, 30048, 7616, 31389, 32057, 4692, 32013, 22582, 27413, 28432, 31455, 31904, 17820, 27897, 28299, 29516, 25567, 25742, 31980, 31985, 7602, 27798, 27895, 28219, 30273, 3958, 25577, 28377, 31485, 31490, 3724, 27533, 28121, 29542, 29644, 31789, 22553, 30952, 31945, 25022, 27410, 28076, 30182, 2550, 27625, 28375, 30737, 4990, 31371, 31545, 25529, 27758, 30865, 4493, 25227, 30498, 30920, 31387, 1820, 28475, 30785, 30981, 31565, 7389, 27432, 28261, 31602, 25139, 29955, 30539, 31242, 21234, 21316, 31971, 25417, 25586, 29966, 31720, 31722, 26942, 31397, 31515, 31993, 25274, 25371, 31714, 32077, 32078, 3580, 29658, 29708, 31266, 25258, 30906, 21237, 28248, 29699, 31530, 31723, 31813, 12021, 27337, 31118, 31764, 16237, 27764, 11862, 27021, 28391, 30772, 25496, 27334, 27502, 28137, 30050, 30881, 31341, 31359, 16431, 27731, 29727, 30365, 21275, 27704, 31173, 31174, 31525, 31528, 16488, 30027, 31422, 32125, 23755, 29924, 30028, 31424, 17758, 29508, 31726, 31808, 22642, 30326, 30536, 31833, 27767, 27779, 31444, 31529, 31861, 17574, 25501, 28361, 31165, 31329, 4649, 31172, 31363, 25602, 30872, 31163, 31365, 31379, 10784, 30840, 30995, 31028, 31029, 31851, 21343, 30442, 31215, 31521, 31543, 25314, 30773, 31380, 11970, 31360, 31501, 32168, 25613, 30798, 31511, 31532, 32015, 17908, 30665, 31445, 31563, 4673, 5105, 31408, 31477, 31804, 3154, 27230, 30628, 31606, 32153, 5077, 30545, 30709, 4445, 30676, 31734, 3336, 30230, 30481, 31681, 3576, 30640, 31111, 21216, 31012, 31097, 5031, 30483, 17732, 31205, 32099, 17734, 30260, 16422, 31011, 32112, 17670, 30819, 30988, 31581, 31676, 4625, 29540, 30739, 31297, 32039, 4745, 30704, 31358, 1597, 30823, 9710, 30891, 31189, 18083, 31223, 4937, 7223, 3266, 31742, 31954, 4534, 31218, 32139, 3597, 31193, 31194, 4633, 30560, 30636, 9763, 31324, 31325, 8686, 30648, 30650, 31560, 5103, 21315, 27480, 27914, 4749, 30731, 31369, 6882, 31082, 31458, 31820, 32070, 25771, 30465, 31058, 31443, 31531, 31862, 25803, 30990, 31601, 32088, 9727, 31323, 31559, 31626, 31639, 31695, 31790, 25077, 31246, 17919, 28257, 30924, 30979, 16545, 31370, 5097, 30870, 31362, 31446, 31542, 4831, 31566, 31739, 3530, 31110, 31125, 17641, 31267, 2391, 31551, 32157, 4231, 31378, 3930, 24983, 31333, 31608, 31860, 32047, 25019, 31210, 31831, 31949, 10819, 31339, 31683, 7134, 31411, 31578, 4383, 31480, 31835, 32173, 17707, 31273, 31607, 32174, 21229, 31486, 31648, 31692, 4192, 27206, 31483, 31826, 27500, 31791, 32010, 25489, 31620, 32164, 32165, 3982, 31407, 31619, 3977, 31761, 32134, 32138, 24982, 31867, 32094, 32130, 16367, 31564, 4430, 31651, 31932, 31950, 31997, 32171, 3890, 31577, 31700, 32040, 4759, 29798, 27215, 31632, 26872, 31502, 24939, 27415, 29495, 32080, 17583, 29788, 31204, 27319, 27680, 31782, 27553, 29652, 31240, 26898, 31527, 31751, 25630, 27196, 27375, 31817, 8699, 31763, 24835]

In [2]:
div_df = df[(df['RoleId']==34)&(df['RoleName']=='DIVISION HEAD')][['U_BUID','UserID','UserName','buname']]
div_df.rename(columns={'U_BUID':'Div_BUID','buname':'DivName','UserID':'Div_UserID','UserName':'Div_UserName'}, inplace=True)
reg_df = df[(df['RoleId']==35)&(df['RoleName']=='REGION HEAD')][['U_BUID','UserID','UserName','buname','ReportingBUId']]
reg_df.rename(columns={'U_BUID':'Region_BUID','ReportingBUId':'Region_ReportingBUId','buname':'RegionName','UserID':'Region_UserID','UserName':'Region_UserName'}, inplace=True)
hub_df = df[(df['RoleId']==36)&(df['RoleName']=='HUB HEAD')][['U_BUID','UserID','UserName','buname','ReportingBUId']]
hub_df.rename(columns={'U_BUID':'Hub_BUID','ReportingBUId':'Hub_ReportingBUId','buname':'HubName','UserID':'Hub_UserID','UserName':'Hub_UserName'}, inplace=True)
bm_df = df[(df['RoleId']==13)&(df['RoleName']=='Branch Manager')][['U_BUID','buname','UserID','UserName','ReportingBUId']]
bm_df.rename(columns={'U_BUID':'BM_BUID','ReportingBUId':'BM_ReportingBUId','buname':'BranchName','UserID':'BM_UserID','UserName':'BM_UserName'}, inplace=True)
bro_df = df[(df['RoleId']==55)&(df['RoleName']=='BRO')][['U_BUID','UserID','UserName']]
bro_df.rename(columns={'U_BUID':'BRO_BUID','UserID':'BRO_UserID','UserName':'BRO_UserName'}, inplace=True)
M1 = pd.merge(bro_df,bm_df,left_on='BRO_BUID',right_on='BM_BUID',how='left').drop_duplicates(subset='BRO_UserID')
M2 = pd.merge(M1,hub_df,left_on='BM_ReportingBUId',right_on='Hub_BUID',how='left').drop_duplicates(subset='BRO_UserID')
M3 = pd.merge(M2,reg_df,left_on='Hub_ReportingBUId',right_on='Region_BUID',how='left').drop_duplicates(subset='BRO_UserID')
dF = pd.merge(M3,div_df,left_on='Region_ReportingBUId',right_on='Div_BUID',how='left').drop_duplicates(subset='BRO_UserID')

Empty DataFrame
Columns: [Region_BUID, Region_UserID, Region_UserName, RegionName, Region_ReportingBUId]
Index: []

In [3]:
df[df['RoleName'] == 'BC Module']

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
44,2154,2,1,Varanasi,7555,Ankit Sharma,2154,43,BC Module
175,2201,3,2200,Hazaribagh RO,31085,VIGHNESWAR KUMAR YADAV,2201,43,BC Module

In [4]:
df[df['UserID'] == 19128].iloc[0]['buname']

'Varanasi'

In [5]:
reqdf = pd.merge(all_tasks_df, df, how='left', left_on='assigned_to', right_on='UserID').drop_duplicates(subset=['task_id'])
reqdf = pd.merge(reqdf, dF, how='left', left_on='UserID', right_on = 'BRO_UserID' )

In [94]:
reqdf[reqdf['Region_UserID'] == 7665]

KeyError: 'Region_UserID'

In [7]:
df.columns

Index(['BUId', 'BUType', 'ReportingBUId', 'buname', 'UserID', 'UserName',
       'U_BUID', 'RoleId', 'RoleName'],
      dtype='object')

In [8]:
type(reqdf['created_on'].iloc[0])

datetime.date

In [9]:
reqdf['priority'].value_counts()

1    48765
3       30
2       29
4       21
Name: priority, dtype: int64

In [10]:
reqdf[reqdf['priority'] == 2]

,task_id,task_description,status,priority,assigned_to,created_by,completion_date,created_on,deadline_date,category,review,feedback,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName,BRO_BUID,BRO_UserID,BRO_UserName,BM_BUID,BranchName,BM_UserID,BM_UserName,BM_ReportingBUId,Hub_BUID,Hub_UserID,Hub_UserName,HubName,Hub_ReportingBUId,Region_BUID,Region_UserID,Region_UserName,RegionName,Region_ReportingBUId,Div_BUID,Div_UserID,Div_UserName,DivName
20476,164374,test desc 2,Pending,2,31678,7535,None,2023-04-07,2023-04-09,1,None,None,6.0,5.0,553.0,Rudauli,31678.0,ABHISHEK DUBEY,6.0,55.0,BRO,6.0,31678.0,ABHISHEK DUBEY,6.0,Rudauli,1564.0,Virendra kumar Maurya,553.0,553.0,25094.0,ABHISHEK SINGH,FAIZABAD,1006.0,1006.0,18033.0,CHANDRA SHEKHAR,Faizabad,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
20480,164378,test desc,Pending,2,31678,7535,None,2023-04-07,2023-04-09,1,None,None,6.0,5.0,553.0,Rudauli,31678.0,ABHISHEK DUBEY,6.0,55.0,BRO,6.0,31678.0,ABHISHEK DUBEY,6.0,Rudauli,1564.0,Virendra kumar Maurya,553.0,553.0,25094.0,ABHISHEK SINGH,FAIZABAD,1006.0,1006.0,18033.0,CHANDRA SHEKHAR,Faizabad,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
20887,164789,test,Pending,2,30914,7535,None,2023-04-07,2023-04-20,14,None,None,17.0,5.0,586.0,Mishrikh,30914.0,AMRENDRA KUMAR GUPTA,17.0,55.0,BRO,17.0,30914.0,AMRENDRA KUMAR GUPTA,17.0,Mishrikh,15057.0,Surendra Kumar,586.0,586.0,7197.0,abhishek kumar singh,sitapur,2292.0,2292.0,0.0,REGION HEAD NOT POSTED,Sitapur,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
22906,166812,test,Closed,2,30307,30307,2023-04-10,2023-04-10,2023-04-10,3,None,None,419.0,5.0,554.0,Dhaneypur,30307.0,Shiv Kumar,419.0,55.0,BRO,419.0,30307.0,Shiv Kumar,419.0,Dhaneypur,3988.0,Santosh Kumar,554.0,554.0,2399.0,Rakesh Kumar Pal,GONDA,1006.0,1006.0,18033.0,CHANDRA SHEKHAR,Faizabad,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
23277,167183,test,Pending,2,7535,7535,None,2023-04-10,2023-04-10,3,None,None,651.0,2.0,1.0,Lucknow,7535.0,RAKESH KUMAR CHAUDHARY,651.0,34.0,DIVISION HEAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23332,167238,form,Pending,2,9739,9739,None,2023-04-10,2023-04-10,3,None,None,650.0,2.0,1.0,Prayagraj,9739.0,LAKSHMAN SINGH,650.0,34.0,DIVISION HEAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24690,168596,test,Closed,2,27784,27784,2023-04-11,2023-04-11,2023-04-12,15,2,1,419.0,5.0,554.0,Dhaneypur,27784.0,Suraj Kumar Yadav,419.0,55.0,BRO,419.0,27784.0,Suraj Kumar Yadav,419.0,Dhaneypur,3988.0,Santosh Kumar,554.0,554.0,2399.0,Rakesh Kumar Pal,GONDA,1006.0,1006.0,18033.0,CHANDRA SHEKHAR,Faizabad,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
24789,168695,You have to describe task here whatever be the...,Re-Schedule,2,30823,30823,None,2023-04-11,2023-04-20,3,None,None,2244.0,5.0,2132.0,Aurai,30823.0,SAVITA,2244.0,55.0,BRO,2244.0,30823.0,SAVITA,2244.0,Aurai,1597.0,RAJU KUMAR MAURYA,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
25013,168919,flejgejgsjg sgsgjgorjgorhun ahgiehghowihg,Pending,2,30823,30823,None,2023-04-11,2023-04-12,10,None,None,2244.0,5.0,2132.0,Aurai,30823.0,SAVITA,2244.0,55.0,BRO,2244.0,30823.0,SAVITA,2244.0,Aurai,1597.0,RAJU KUMAR MAURYA,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
25199,169105,scs,Pending,2,30823,30823,None,2023-04-11,2023-04-26,13,None,None,2244.0,5.0,2132.0,Aurai,30823.0,SAVITA,2244.0,55.0,BRO,2244.0,30823.0,SAVITA,2244.0,Aurai,1597.0,RAJU KUMAR MAURYA,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
25241,169147,dafadhfvibhfvidhvi hvidhiduhvu hvfiadhudgh,Pending,2,30823,30823,None,2023-04-11,2023-04-30,14,None,None,2244.0,5.0,2132.0,Aurai,30823.0,SAVITA,2244.0,55.0,BRO,2244.0,30823.0,SAVITA,2244.0,Aurai,1597.0,RAJU KUMAR MAURYA,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
25267,169173,zx vcb b nhd,Closed,2,30823,30823,2023-04-11,2023-04-11,2023-04-11,1,None,None,2244.0,5.0,2132.0,Aurai,30823.0,SAVITA,2244.0,55.0,BRO,2244.0,30823.0,SAVITA,2244.0,Aurai,1597.0,RAJU KUMAR MAURYA,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
25490,169396,collect cash within time,Re-Schedule,2,30823,9739,None,2023-04-11,2023-04-18,6,,,2244.0,5.0,2132.0,Aurai,30823.0,SAVITA,2244.0,55.0,BRO,2244.0,30823.0,SAVITA,2244.0,Aurai,1597.0,RAJU KUMAR MAURYA,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
25593,169499,Description,Pending,2,9739,9739,None,2023-04-11,2023-04-21,16,None,None,650.0,2.0,1.0,Prayagraj,9739.0,LAKSHMAN SINGH,650.0,34.0,DIVISION HEAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28971,172881,fnkfhhjfoe khfehgohgor efnkdgkdgsjg dkgnkngksh...,Completed,2,6892,6892,2023-04-13,2023-04-13,2023-04-29,3,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30268,174202,20 disbrusment kre,Completed,2,4017,10768,2023-04-15,2023-04-14,2023-04-15,9,None,None,444.0,5.0,557.0,Pandeypur,4017.0,CHANDRA SHEKHER,444.0,13.0,Branch Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31581,175517,15/04/2023,Pending,2,26955,4017,None,2023-04-15,2023-04-15,3,None,None,444.0,5.0,557.0,Pandeypur,26955.0,SANDIP KUMAR RAW,444.0,55.0,BRO,444.0,26955.0,SANDIP KUMAR RAW,444.0,Pandeypur,4017.0,CHANDRA SHEKHER,557.0,557.0,10768.0,Devendra Pratap Singh,Varanasi,1019.0,1019.0,0.0,REGION HEAD NOT POSTED,Varanasi,2154.0,2154.0,17756.0,Alok Singh,Varanasi
31583,175519,Har hal me me pura Krna hai,Pending,2,30672,4017,None,2023-04-15,2023-04-15,3,None,None,444.0,5.0,557.0,Pandeypur,30672.0,SHALU MAURYA,444.0,55.0,BRO,444.0,30672.0,SHALU MAURYA,444.0,Pandeypur,4017.0,CHANDRA SHEKHER,557.0,557.0,10768.0,Devendra Pratap Singh,Varanasi,1019.0,1019.0,0.0,REGION HEAD NOT POSTED,Varanasi,2154.0,2154.0,17756.0,Alok Singh,Varanasi
31584,175520,Har hal me pura Krna hai,Pending,2,31569,4017,None,2023-04-15,2023-04-15,3,None,None,444.0,5.0,557.0,Pandeypur,31569.0,SANJIV KUMAR,444.0,55.0,BRO,444.0,31569.0,SANJIV KUMAR,444.0,Pandeypur,4017.0,CHANDRA SHEKHER,557.0,557.0,10768.0,Devendra Pratap Singh,Varanasi,1019.0,1019.0,0.0,REGION HEAD NOT POSTED,Varanasi,2154.0,2154.0,17756.0,Alok Singh,Varanasi
31585,175521,Pura Krna hai 100%,Pending,2,4017,4017,None,2023-04-15,2023-04-15,3,None,None,444.0,5.0,557.0,Pandeypur,4017.0,CHANDRA SHEKHER,444.0,13.0,Branch Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31807,175743,Ok,Pending,2,31732,3375,None,2023-04-15,2023-04-17,3,None,None,107.0,5.0,2132.0,BHITI_Ald,31732.0,MANISH KUMAR,107.0,55.0,BRO,107.0,31732.0,MANISH KUMAR,107.0,BHITI_Ald,3375.0,MADHVENDRA PRATAP SINGH,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
31932,175868,Ok,Completed,2,3020,3375,2023-04-26,2023-04-15,2023-04-17,6,None,None,107.0,5.0,2132.0,BHITI_Ald,3020.0,NARENDRA KUMAR,107.0,55.0,BRO,107.0,3020.0,NARENDRA KUMAR,107.0,BHITI_Ald,3375.0,MADHVENDRA PRATAP SINGH,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
34138,178074,Testing,Pending,2,3401,2163,None,2023-04-18,2023-05-05,Choose the Category,None,None,307.0,5.0,551.0,Alapur,3401.0,Nagendra Pratap Singh,307.0,55.0,BRO,307.0,3401.0,Nagendra Pratap Singh,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
34155,178091,testing Description,Pending,2,17789,2163,None,2023-04-18,2023-04-27,Choose the Category,None,None,307.0,5.0,551.0,Alapur,17789.0,VIKAS KUMAR,307.0,55.0,BRO,307.0,17789.0,VIKAS KUMAR,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
35801,179737,testing assign a new task to BM,Pending,2,2164,7082,None,2023-04-19,2023-04-28,Choose the Category,None,None,4.0,5.0,551.0,Akbarpur,2164.0,Anoop Singh,4.0,13.0,Branch Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36053,179989,Ok,Completed,2,3020,3375,2023-04-26,2023-04-19,2023-04-20,6,None,None,107.0,5.0,2132.0,BHITI_Ald,3020.0,NARENDRA KUMAR,107.0,55.0,BRO,107.0,3020.0,NARENDRA KUMAR,107.0,BHITI_Ald,3375.0,MADHVENDRA PRATAP SINGH,2132.0,2132.0,3883.0,RAVINDRA KUMAR,HANDIA,1001.0,1001.0,7114.0,Akash Jyoti singh,Prayagraj,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
37424,181360,NPA 10 castomar ko call kare,Pending,2,3355,3269,None,2023-04-20,2023-04-20,3,None,None,58.0,5.0,555.0,Kadipur,3355.0,Rakesh Kumar,58.0,55.0,BRO,58.0,3355.0,Rakesh Kumar,58.0,Kadipur,3269.0,Vinod Kumar,555.0,555.0,0.0,HUB HEAD NOT POSTED,KADIPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
44094,188030,Testing Task description,Pending,2,7082,7082,None,2023-04-26,2023-04-29,7,None,None,307.0,5.0,551.0,Alapur,7082.0,Surendra yadav,307.0,13.0,Branch Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46481,190417,Testing Phase,Pending,2,3401,2163,None,2023-04-27,2023-04-29,7,None,None,307.0,5.0,551.0,Alapur,3401.0,Nagendra Pratap Singh,307.0,55.0,BRO,307.0,3401.0,Nagendra Pratap Singh,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj

In [11]:
reqdf.columns

Index(['task_id', 'task_description', 'status', 'priority', 'assigned_to',
       'created_by', 'completion_date', 'created_on', 'deadline_date',
       'category', 'review', 'feedback', 'BUId', 'BUType', 'ReportingBUId',
       'buname', 'UserID', 'UserName', 'U_BUID', 'RoleId', 'RoleName',
       'BRO_BUID', 'BRO_UserID', 'BRO_UserName', 'BM_BUID', 'BranchName',
       'BM_UserID', 'BM_UserName', 'BM_ReportingBUId', 'Hub_BUID',
       'Hub_UserID', 'Hub_UserName', 'HubName', 'Hub_ReportingBUId',
       'Region_BUID', 'Region_UserID', 'Region_UserName', 'RegionName',
       'Region_ReportingBUId', 'Div_BUID', 'Div_UserID', 'Div_UserName',
       'DivName'],
      dtype='object')

In [95]:
dF

,BRO_BUID,BRO_UserID,BRO_UserName,BM_BUID,BranchName,BM_UserID,BM_UserName,BM_ReportingBUId,Hub_BUID,Hub_UserID,Hub_UserName,HubName,Hub_ReportingBUId,Region_BUID,Region_UserID,Region_UserName,RegionName,Region_ReportingBUId,Div_BUID,Div_UserID,Div_UserName,DivName
0,2325,27196,Mithilesh Kumar Paswan,2325,Nirmali,25630,Dharmveer Kumar,2104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
from datetime import datetime

In [14]:
type(datetime.now().date())

datetime.date

In [15]:
reqdf[reqdf['priority'] == int('1')]

,task_id,task_description,status,priority,assigned_to,created_by,completion_date,created_on,deadline_date,category,review,feedback,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName,BRO_BUID,BRO_UserID,BRO_UserName,BM_BUID,BranchName,BM_UserID,BM_UserName,BM_ReportingBUId,Hub_BUID,Hub_UserID,Hub_UserName,HubName,Hub_ReportingBUId,Region_BUID,Region_UserID,Region_UserName,RegionName,Region_ReportingBUId,Div_BUID,Div_UserID,Div_UserName,DivName
0,129116,Customer (Customer id: Sdl:Bhr:01:006) is inte...,Completed,1,29938,2271,2023-04-21,2023-04-01,2023-04-01,7,None,None,459.0,5.0,2141.0,Burhar,29938.0,Virendra Singh gound,459.0,55.0,BRO,459.0,29938.0,Virendra Singh gound,459.0,Burhar,4172.0,Akash Kumar Sen,2141.0,2141.0,18022.0,Deepak Jagati,Burhar,2183.0,2183.0,1622.0,Pradeep kachhi,Katni,652.0,652.0,15190.0,JITENDRA YADAV,Jabalpur
1,129117,Customer (Customer id: Rab:cit:01:236:037) has...,Pending,1,30482,27199,None,2023-04-01,2023-04-01,10,None,None,79.0,5.0,584.0,Raibareli,30482.0,DHARMENDRA BAHADUR,79.0,55.0,BRO,79.0,30482.0,DHARMENDRA BAHADUR,79.0,Raibareli,1884.0,Vinod Kumar,584.0,584.0,15051.0,DHARMENDRA PRATAP SINGH,Raibarely,1002.0,1002.0,0.0,REGION HEAD NOT POSTED,Lucknow,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
2,129118,Customer (Customer id: Bab:cit:01:189:043) has...,Pending,1,27245,27199,None,2023-04-01,2023-04-01,10,None,None,8.0,5.0,583.0,Barabanki city,27245.0,ROLI KUMARI,8.0,55.0,BRO,8.0,27245.0,ROLI KUMARI,8.0,Barabanki city,3682.0,BHUPENDRA SINGH,583.0,583.0,3245.0,Krishan Kumar Yadav,Barabanki,1002.0,1002.0,0.0,REGION HEAD NOT POSTED,Lucknow,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
3,129119,Customer (Customer id: 1397268) will pay an am...,Pending,1,27815,27815,None,2023-04-01,2023-04-01,3,None,None,424.0,5.0,2139.0,Guna,27815.0,AAKASH YADAV,424.0,55.0,BRO,424.0,27815.0,AAKASH YADAV,424.0,Guna,2702.0,Prahlad Ahirwar,2139.0,2139.0,259.0,Vikash Namdev,GUNA,1013.0,1013.0,16347.0,Susheel Kumar Yadav,Gwalior,2156.0,2156.0,10851.0,Vinod singh,Gwalior
4,129120,Customer (Customer id: Lko:mhn:01:116:004) has...,Pending,1,31063,27199,None,2023-04-01,2023-04-01,10,None,None,184.0,5.0,583.0,Mohanlalganj,31063.0,SATYAM SINGH,184.0,55.0,BRO,184.0,31063.0,SATYAM SINGH,184.0,Mohanlalganj,21.0,MOHD IRFAN,583.0,583.0,3245.0,Krishan Kumar Yadav,Barabanki,1002.0,1002.0,0.0,REGION HEAD NOT POSTED,Lucknow,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48840,192776,Customer (Customer id: 1356191) will pay an am...,Pending,1,31150,30855,None,2023-04-28,2023-05-01,3,None,None,492.0,5.0,609.0,Areraj,31150.0,KANHAIYA KUMAR,492.0,55.0,BRO,492.0,31150.0,KANHAIYA KUMAR,492.0,Areraj,21337.0,Ranjeet Bhagat,609.0,609.0,24774.0,MAHENDRA PRASAD MAURYA,Motihari,1020.0,1020.0,10850.0,Parasnath maorya,Motihari,653.0,653.0,10849.0,KESHRAJ YADAV,Muzaffarpur
48841,192777,Customer (Customer id: 3177937) will pay an am...,Pending,1,27611,3410,None,2023-04-28,2023-04-28,3,None,None,296.0,5.0,604.0,Nawada City,27611.0,Saurabh Kumar,296.0,55.0,BRO,296.0,27611.0,Saurabh Kumar,296.0,Nawada City,3410.0,Narendra Kumar Yadav,604.0,604.0,2554.0,Suresh Kumar,Nawada,1010.0,1010.0,4891.0,Praveen Singh,Gaya,2158.0,2158.0,15111.0,Ajay Kumar Singh,Patna
48842,192778,Customer (Customer id: Bha:Ala:348:223:015) ha...,Pending,1,31452,9731,None,2023-04-28,2023-04-28,10,None,None,348.0,5.0,573.0,Alwar City,31452.0,DILIP KUMAR YADAV,348.0,55.0,BRO,348.0,31452.0,DILIP KUMAR YADAV,348.0,Alwar City,23688.0,JALDEEP SINGH CHAUHAN,573.0,573.0,4505.0,Suraj Kumar,Alawar,1022.0,1022.0,7342.0,Neeraj maurya,Jaipur,2155.0,2155.0,7575.0,CHANDRA SHEKHAR,Jaipur
48843,192779,Customer (Customer id: Kan:Fat:40:123:015) has...,Pending,1,27790,27171,None,2023-04-28,2023-04-28,10,None,None,40.0,5.0,580.0,ghatampur,27790.0,Shivam Kumar,40.0,55.0,BRO,40.0,27790.0,Shivam Kumar,40.0,ghatampur,4254.0,Brahamajeet Kumar Bharti,580.0,580.0,3772.0,CHANDAN SINGH,Akberpur,1003.0,1003.0,18043.0,SHYAMANAND,Kanpur,651.0,651.0,7535.0,RAKESH KUMAR CHAUDHARY,Lucknow
48844,192780,Customer (Customer id: 2802693) will pay an am...,Pending,1,28450,28450,None,2023-04-28,2023-04-30,3,None,None,296.0,5.0,604.0,Nawada City,28450.0,Raju Kumar,296.0,55.0,BRO,296.0,28450.0,Raju Kumar,296.0,Nawada City,3410.0,Narendra Kumar Yadav,604.0,604.0,2554.0,Suresh Kumar,Nawada,1010.0,1010.0,4891.0,Praveen Singh,Gaya,2158.0,2158.0,15111.0,Ajay Kumar Singh,Patna

In [16]:
cols_req = [
        'created_on',
        'DivName',
        'RegionName',
        'HubName',
        'BranchName',
        'assigned_to',
        'created_by',
        'priority',
        'task_id',
        'category',
        'task_description',
        'deadline_date',
        #reschedule date
        #whatsapp conf
        'status',
        'completion_date',
        'review',
        'feedback'
    ]

In [17]:
reqdf = reqdf.sort_values(by=['created_on', 'DivName', 'RegionName', 'HubName', 'BranchName'], ascending=False)[cols_req]

In [18]:
reqdf

,created_on,DivName,RegionName,HubName,BranchName,assigned_to,created_by,priority,task_id,category,task_description,deadline_date,status,completion_date,review,feedback
47742,2023-04-28,Varanasi,Varanasi,Varanasi,Varanasi city,16354,11905,1,191678,7,Customer (Customer id: Var:Var:2002:2614514) i...,2023-04-28,Pending,None,None,None
47701,2023-04-28,Varanasi,Varanasi,Varanasi,Pandeypur,31569,31569,1,191637,3,Customer (Customer id: 1224801) will pay an am...,2023-04-28,Pending,None,None,None
47702,2023-04-28,Varanasi,Varanasi,Varanasi,Pandeypur,31569,31569,1,191638,3,Customer (Customer id: 3060154) will pay an am...,2023-04-28,Pending,None,None,None
47703,2023-04-28,Varanasi,Varanasi,Varanasi,Pandeypur,31569,31569,1,191639,3,Customer (Customer id: 3060154) will pay an am...,2023-04-28,Pending,None,None,None
47704,2023-04-28,Varanasi,Varanasi,Varanasi,Pandeypur,31569,31569,1,191640,3,Customer (Customer id: 2176414) will pay an am...,2023-04-28,Pending,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,2023-04-01,NaN,NaN,NaN,NaN,25551,1473,1,129924,3,Customer (Customer id: Mot:Bet:2170:140:013) w...,2023-04-07,Pending,None,None,None
810,2023-04-01,NaN,NaN,NaN,NaN,27508,1473,1,129926,10,Customer (Customer id: Mot:Mot:477:035) has co...,2023-04-01,Pending,None,None,None
933,2023-04-01,NaN,NaN,NaN,NaN,31416,4785,1,130049,10,Customer (Customer id: Sag:DAM:262:2053211) ha...,2023-04-01,Pending,None,None,None
942,2023-04-01,NaN,NaN,NaN,NaN,24872,11903,1,130058,3,Customer (Customer id: Kau:KAR:297:159:008) wi...,2023-04-01,Pending,None,None,None
955,2023-04-01,NaN,NaN,NaN,NaN,21435,11903,1,130071,10,Customer (Customer id: Ckt:Krw:02:009:010) has...,2023-04-01,Pending,None,None,None

In [19]:
from_date = '2023-04-07'
to_date = '2023-04-13'

In [20]:
datetime.now().date()

datetime.date(2023, 4, 28)

In [21]:
datetime.strptime(from_date, "%Y-%M-%d").date() > datetime.now().date()

False

In [22]:
reqdf[(reqdf['created_on'] >= datetime.strptime(from_date, "%Y-%M-%d").date()) & (reqdf['created_on'] <= datetime.strptime(to_date, "%Y-%M-%d").date())]

Empty DataFrame
Columns: [created_on, DivName, RegionName, HubName, BranchName, assigned_to, created_by, priority, task_id, category, task_description, deadline_date, status, completion_date, review, feedback]
Index: []

In [23]:
re1 = reqdf[(reqdf['created_on'] >= datetime.strptime(from_date, "%Y-%M-%d").date())]
re2 = re1[re1[(re1['created_on'] <= datetime.strptime(to_date, "%Y-%M-%d").date())]]

In [24]:
datetime.strptime(from_date, "%Y-%M-%d").date()

datetime.date(2023, 1, 7)

In [25]:
dF.columns

Index(['BRO_BUID', 'BRO_UserID', 'BRO_UserName', 'BM_BUID', 'BranchName',
       'BM_UserID', 'BM_UserName', 'BM_ReportingBUId', 'Hub_BUID',
       'Hub_UserID', 'Hub_UserName', 'HubName', 'Hub_ReportingBUId',
       'Region_BUID', 'Region_UserID', 'Region_UserName', 'RegionName',
       'Region_ReportingBUId', 'Div_BUID', 'Div_UserID', 'Div_UserName',
       'DivName'],
      dtype='object')

In [26]:
reqdf[(reqdf['deadline_date'] >= datetime.strptime(from_date, "%Y-%m-%d").date()) & (reqdf['deadline_date'] <= datetime.strptime(to_date, "%Y-%m-%d").date())]

,created_on,DivName,RegionName,HubName,BranchName,assigned_to,created_by,priority,task_id,category,task_description,deadline_date,status,completion_date,review,feedback
46464,2023-04-27,Muzaffarpur,Samastipur,Begusarai,Manjahaul,30435,13048,1,190400,3,Customer (Customer id: 1155279) will pay an am...,2023-04-07,Pending,None,None,None
43591,2023-04-25,Saharanpur,Karnal,Ladwa,Vilashpur,21371,21371,1,187527,3,Customer (Customer id: 2772067) will pay an am...,2023-04-13,Completed,2023-04-25,None,None
41701,2023-04-24,Prayagraj,Sultanpur,AKBARPUR,Bhiti,32021,3512,1,185637,7,"Mr/Ms Sheela ,Abd:Bti:01:090:009 is a good cu...",2023-04-07,Pending,None,None,None
38309,2023-04-20,Prayagraj,Kaushambi,BHARWARI,Bharawari,28207,28207,1,182245,3,Customer (Customer id: 3228278) will pay an am...,2023-04-12,Pending,None,None,None
33069,2023-04-17,Saharanpur,Karnal,Ladwa,Yamuna Nagar,31908,31908,1,177005,3,Customer (Customer id: 3430029) will pay an am...,2023-04-13,Completed,2023-04-18,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2023-04-01,NaN,NaN,NaN,NaN,30788,1473,1,129775,3,Customer (Customer id: Mot:GOP:2057:146:010) w...,2023-04-07,Pending,None,None,None
682,2023-04-01,NaN,NaN,NaN,NaN,26917,1473,1,129798,3,Customer (Customer id: Mot:Mot:477:185:010) wi...,2023-04-07,Pending,None,None,None
738,2023-04-01,NaN,NaN,NaN,NaN,25551,1473,1,129854,3,Customer (Customer id: Mot:Bet:2170:137:015) w...,2023-04-07,Pending,None,None,None
799,2023-04-01,NaN,NaN,NaN,NaN,26917,1473,1,129915,3,Customer (Customer id: Ech:Cka:01:039:028) wil...,2023-04-07,Pending,None,None,None
808,2023-04-01,NaN,NaN,NaN,NaN,25551,1473,1,129924,3,Customer (Customer id: Mot:Bet:2170:140:013) w...,2023-04-07,Pending,None,None,None

In [27]:
reqdf[reqdf['priority'] == 3]

,created_on,DivName,RegionName,HubName,BranchName,assigned_to,created_by,priority,task_id,category,task_description,deadline_date,status,completion_date,review,feedback
48028,2023-04-28,NaN,NaN,NaN,NaN,7082,7082,3,191964,Choose the Category,testing,2023-04-30,Pending,None,None,None
44501,2023-04-26,Muzaffarpur,Motihari,Motihari,Barauli,28281,17830,3,188437,12,Customer Meera Devi Want a New Loan Of Amount...,2023-05-17,Pending,None,None,None
42872,2023-04-25,Jabalpur,Katni,Burhar,Kotma,30774,30774,3,186808,12,Customer Gulabiya Bai Want a New Loan Of Amoun...,2023-05-10,Pending,None,None,None
38411,2023-04-20,Varanasi,Varanasi,Varanasi,Varanasi city,7173,7463,3,182347,7,20,2023-04-20,Completed,2023-04-20,None,None
37435,2023-04-20,Jabalpur,Nagpur,Nagpur,Pulgaon,30731,4749,3,181371,3,Aaj kist dete hai,2023-04-20,Pending,None,None,None
33943,2023-04-18,Prayagraj,Sultanpur,AKBARPUR,Alapur,3401,2163,3,177879,Choose the Category,test,2023-04-29,Completed,2023-04-18,None,None
32465,2023-04-17,Jabalpur,Jabalpur,NARSINGHPUR,Tendukheda,30808,30808,3,176401,12,Customer mayabaee Want a New Loan Of Amount . ...,2023-06-08,Completed,2023-04-25,None,None
31582,2023-04-15,Varanasi,Varanasi,Varanasi,Pandeypur,30255,4017,3,175518,2,10 client disbursement Ese hr hal me pura krna...,2023-04-15,Completed,2023-04-18,None,None
31575,2023-04-14,Jabalpur,Jabalpur,GADARWARA,Bareli MP,30161,11958,3,175511,3,\r\n\r\n,2023-04-14,Completed,2023-04-24,None,None
30973,2023-04-14,NaN,NaN,NaN,NaN,7082,7082,3,174909,5,dkhfhfoewf jbfhfihfuh khfhefhe fkehfuewhO BEWV...,2023-04-27,Pending,None,None,None
30985,2023-04-14,NaN,NaN,NaN,NaN,2163,7082,3,174921,6,ahcbaj asjchkj KSFJkfj fnlFJL DJKVHDAJKVB KAHF...,2023-05-04,Pending,None,None,None
30986,2023-04-14,NaN,NaN,NaN,NaN,2163,7082,3,174922,6,ahcbaj asjchkj KSFJkfj fnlFJL DJKVHDAJKVB KAHF...,2023-05-04,Pending,None,None,None
28599,2023-04-13,Jabalpur,CHINDWADA,CHINDWADA,Umarnala,27625,27625,3,172509,12,Customer Sangita Tayvade Want a New Loan Of Am...,2023-10-16,Completed,2023-04-25,None,None
26314,2023-04-12,Saharanpur,Chandigarh,Rajpura,Sangrur,27337,12021,3,170220,3,intallment,2023-04-21,Completed,2023-04-17,None,None
24844,2023-04-11,Prayagraj,Prayagraj,HANDIA,Aurai,30823,30823,3,168750,6,cvmnsbhksfjb fsjbhsljhbsxbmxkcfb,2023-04-23,Pending,None,None,None
25178,2023-04-11,Prayagraj,Prayagraj,HANDIA,Aurai,30823,30823,3,169084,13,kdkhkhvdh dvkdhkdhbk vkdhkvhbkdhbk vkhbkhsbkh ...,2023-04-19,Completed,2023-04-11,Nonesvajb JBCKBC Kbcksbccdkd,chcsjcosjv knvkanvka kvha
25255,2023-04-11,Prayagraj,Prayagraj,HANDIA,Aurai,30823,30823,3,169161,15,efbjfb jbjabvak kvnakdgv,2023-04-25,Pending,None,None,None
25282,2023-04-11,Prayagraj,Prayagraj,HANDIA,Aurai,30823,30823,3,169188,16,shsrhsh,2023-05-05,Pending,None,None,None
22898,2023-04-10,Lucknow,Faizabad,GONDA,Dhaneypur,27784,27784,3,166804,4,sample task,2023-04-10,Closed,2023-04-10,None,None
23316,2023-04-10,NaN,NaN,NaN,NaN,7665,7665,3,167222,7,self,2023-04-10,Pending,None,None,None
20568,2023-04-07,Lucknow,Kanpur,Billaur,Billhor,18059,7535,3,164466,4,rm,2023-04-30,Closed,None,None,None
21066,2023-04-07,Gwalior,Sagar,Hata,Amanganj,27681,3056,3,164968,12,Customer Priti kushwaha Want a New Loan Of A...,2023-04-07,Pending,None,None,None
20538,2023-04-07,NaN,NaN,NaN,NaN,30464,7535,3,164436,4,rm,2023-04-27,Reassigned,None,None,None
20630,2023-04-07,NaN,NaN,NaN,NaN,18091,7535,3,164529,Choose the Category,test dssxc,2023-04-21,Pending,None,None,None
20749,2023-04-07,NaN,NaN,NaN,NaN,15052,7535,3,164648,4,rm,2023-04-07,Closed,2023-04-10,None,None
20866,2023-04-07,NaN,NaN,NaN,NaN,18102,7535,3,164767,1,test,2023-04-14,Pending,None,None,None
16565,2023-04-05,Jaipur,Bharatpur,Aligarh,Hathrash,31120,31120,3,160455,12,Customer Niraj Want a New Loan Of Amount . P...,2023-04-20,Completed,2023-04-13,None,None
16594,2023-04-05,Jaipur,Bharatpur,Aligarh,Hathrash,31120,31120,3,160484,12,Customer Shri Devi Want a New Loan Of Amount ...,2023-04-20,Completed,2023-04-13,None,None
2055,2023-04-03,Saharanpur,Chandigarh,Rajpura,Khanna,31789,31789,3,131171,12,Customer Manjit Kaur Want a New Loan Of Amoun...,2023-04-16,Completed,2023-04-14,None,None
2085,2023-04-03,Saharanpur,Chandigarh,Rajpura,Khanna,31789,31789,3,131201,12,Customer Parminder Want a New Loan Of Amount...,2023-04-16,Completed,2023-04-14,None,None

In [28]:
d = dict(zip(df['UserID'], df['UserName']))
reqdf['assigned_to'] = reqdf['assigned_to'].apply(lambda x : str(x) + '-' + d[x] if x in d.keys() else str(x))

In [29]:
div_df[div_df['Div_UserID'] == 9739]['DivName'].iloc[0]

'Prayagraj'

In [30]:
df[df['UserID'] == 9739]['buname'].iloc[0]

'Prayagraj'

In [31]:
df[df['UserID'] == 1074].iloc[0]['buname']

'Bharatpur'

In [32]:
reqdf[(reqdf['BranchName'] == 'Katangi')]

,created_on,DivName,RegionName,HubName,BranchName,assigned_to,created_by,priority,task_id,category,task_description,deadline_date,status,completion_date,review,feedback
45766,2023-04-27,Jabalpur,CHINDWADA,SEONI,Katangi,31545-VISHAL BISEN,29968,1,189702,7,Customer (Customer id: CHI:SEO:2127:064:012) i...,2023-04-27,Pending,None,None,None
46423,2023-04-27,Jabalpur,CHINDWADA,SEONI,Katangi,31371-DEVID HARINKHEDE,1858,1,190359,3,Customer (Customer id: 2210573) will pay an am...,2023-04-29,Pending,None,None,None
46432,2023-04-27,Jabalpur,CHINDWADA,SEONI,Katangi,31371-DEVID HARINKHEDE,1858,1,190368,3,Customer (Customer id: 2225744) will pay an am...,2023-04-29,Pending,None,None,None
46462,2023-04-27,Jabalpur,CHINDWADA,SEONI,Katangi,31371-DEVID HARINKHEDE,1858,1,190398,3,Customer (Customer id: 3210104) will pay an am...,2023-05-03,Pending,None,None,None
46472,2023-04-27,Jabalpur,CHINDWADA,SEONI,Katangi,31371-DEVID HARINKHEDE,29968,1,190408,10,Customer (Customer id: CHI:SEO:2127:008:014) h...,2023-04-27,Pending,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2023-04-01,Jabalpur,CHINDWADA,SEONI,Katangi,31371-DEVID HARINKHEDE,29968,1,129200,3,Customer (Customer id: CHI:SEO:2127:051:006) w...,2023-04-04,Pending,None,None,None
120,2023-04-01,Jabalpur,CHINDWADA,SEONI,Katangi,31545-VISHAL BISEN,29968,1,129236,3,Customer (Customer id: CHI:SEO:2127:070:011) w...,2023-04-05,Pending,None,None,None
129,2023-04-01,Jabalpur,CHINDWADA,SEONI,Katangi,31545-VISHAL BISEN,29968,1,129245,3,Customer (Customer id: CHI:SEO:2127:011:010) w...,2023-04-04,Pending,None,None,None
323,2023-04-01,Jabalpur,CHINDWADA,SEONI,Katangi,31545-VISHAL BISEN,29968,1,129439,10,Customer (Customer id: CHI:SEO:2127:013) has c...,2023-04-01,Pending,None,None,Wrong number Sahi number update Karwaiye
635,2023-04-01,Jabalpur,CHINDWADA,SEONI,Katangi,31545-VISHAL BISEN,29968,1,129751,7,Customer (Customer id: CHI:SEO:2127:064) is in...,2023-04-01,Pending,None,None,None

In [33]:
new_columns = ['Assigned_Date','Division','Region','Hub', 'Branch', 'Assigned_To_User', 'Assigned_By', 'Priority', 'TaskID', 'Category', 'Task_Description', 'Target_Date', 'Status', 'Close_Date', 'Review', 'Feedback']
len(new_columns)

16

In [34]:
len(reqdf.columns)

16

In [35]:
dF.columns

Index(['BRO_BUID', 'BRO_UserID', 'BRO_UserName', 'BM_BUID', 'BranchName',
       'BM_UserID', 'BM_UserName', 'BM_ReportingBUId', 'Hub_BUID',
       'Hub_UserID', 'Hub_UserName', 'HubName', 'Hub_ReportingBUId',
       'Region_BUID', 'Region_UserID', 'Region_UserName', 'RegionName',
       'Region_ReportingBUId', 'Div_BUID', 'Div_UserID', 'Div_UserName',
       'DivName'],
      dtype='object')

In [36]:
dF['RegionName'].unique()

array([nan, 'Kaushambi', 'Sultanpur', 'Faizabad', 'Lucknow', 'Sitapur',
       'Prayagraj', 'Sagar', 'Kanpur', 'Bharatpur', 'Rewa', 'Bareilly',
       'Moradabad', 'Katni', 'Jabalpur', 'Saharanpur', 'Karnal',
       'CHINDWADA', 'Ghaziabad', 'Gaya', 'Muzaffarpur', 'Gwalior',
       'Samastipur', 'Jaipur', 'Jaunpur', 'Varanasi', 'Chandigarh',
       'Gorakhpur', 'Deoria', 'Motihari', 'Nagpur', 'Ghazipur RO',
       'Darbhanga', 'BUXAR', 'PATNA', 'Hazaribagh RO', 'Giridih',
       'Ranchi', 'Rajnandgaon', 'Raipur'], dtype=object)

In [37]:
dF['Region_UserID'].unique()

array([   nan, 18044.,  4347., 18033.,     0.,  7114., 18024., 18043.,
       15054., 18023.,  7664.,  1968.,  1622.,  1174., 18034.,  4708.,
       17692., 14050.,  4891., 24776., 16347., 18035.,  7342.,  7074.,
       10850., 24808., 21479., 10848., 23657., 18036., 17841., 21376.])

In [38]:
dF[dF['BM_UserID'] == 7082]

,BRO_BUID,BRO_UserID,BRO_UserName,BM_BUID,BranchName,BM_UserID,BM_UserName,BM_ReportingBUId,Hub_BUID,Hub_UserID,Hub_UserName,HubName,Hub_ReportingBUId,Region_BUID,Region_UserID,Region_UserName,RegionName,Region_ReportingBUId,Div_BUID,Div_UserID,Div_UserName,DivName
958,307,3401,Nagendra Pratap Singh,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
959,307,4874,Sanjay Kumar Bind,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
960,307,5079,Sudhir Singh,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
961,307,17789,VIKAS KUMAR,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
962,307,17857,SANJAY KUMAR VISHWAKARMA,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
963,307,29606,RANJEET KUMAR,307.0,Alapur,7082.0,Surendra yadav,551.0,551.0,7660.0,Dharmendra Pratap Singh,AKBARPUR,1024.0,1024.0,4347.0,SHIV BAHADUR,Sultanpur,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj

In [39]:
hub_df[hub_df['Hub_UserID'] ==7082]

Empty DataFrame
Columns: [Hub_BUID, Hub_UserID, Hub_UserName, HubName, Hub_ReportingBUId]
Index: []

In [40]:
bm_df[bm_df['BM_UserID'] ==7082]

      BM_BUID BranchName  BM_UserID     BM_UserName  BM_ReportingBUId
1531      307     Alapur       7082  Surendra yadav               551

In [41]:
all_tasks_df[all_tasks_df['status'] == 'Completed']

,task_id,task_description,status,priority,assigned_to,created_by,completion_date,created_on,deadline_date,category,review,feedback
0,129116,Customer (Customer id: Sdl:Bhr:01:006) is inte...,Completed,1,29938,2271,2023-04-21,2023-04-01,2023-04-01,7,None,None
17,129133,Customer (Customer id: Mbd:Chd:03:316) has com...,Completed,1,31693,30892,2023-04-11,2023-04-01,2023-04-01,10,None,Wrong number
26,129142,Customer (Customer id: Mbd:Chd:03:280) is inte...,Completed,1,31693,30892,2023-04-11,2023-04-01,2023-04-01,7,None,None
33,129149,Customer (Customer id: Swn:Swn:01:039:035) wil...,Completed,1,31187,29968,2023-04-15,2023-04-01,2023-04-12,3,None,None
37,129153,Customer (Customer id: Swn:Swn:01:010:017) wil...,Completed,1,31184,29968,2023-04-13,2023-04-01,2023-04-07,3,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
47993,191929,Customer (Customer id: Har:Ror:01:016:027) is ...,Completed,1,28018,27168,2023-04-28,2023-04-28,2023-04-28,7,None,None
48269,192205,Subeena Bano (Customer id: 3126736) is intere...,Completed,1,16469,27199,2023-04-28,2023-04-28,2023-06-19,7,None,None
48310,192246,Customer (Customer id: 2540146) has paid the l...,Completed,1,31063,27199,2023-04-28,2023-04-28,2023-04-30,3,None,None
48378,192314,Customer (Customer id: 2540146) has paid the l...,Completed,1,31063,27199,2023-04-28,2023-04-28,2023-05-30,3,None,None
48382,192318,Customer (Customer id: Bha:Ala:475:136:019) ha...,Completed,1,30832,9731,2023-04-28,2023-04-28,2023-04-28,10,None,None

In [42]:
reg_df['RegionName'].unique()

array(['Lucknow', 'Jabalpur', 'Varanasi', 'Prayagraj', 'Kanpur',
       'Saharanpur', 'Moradabad', 'Faizabad', 'Bharatpur', 'Gaya',
       'Ghaziabad', 'Muzaffarpur', 'Gwalior', 'Samastipur', 'Sagar',
       'Satna', 'Chandigarh', 'Gorakhpur', 'Motihari', 'Nagpur', 'Jaipur',
       'CHINDWADA', 'Sultanpur', 'Ghazipur RO', 'BUXAR', 'PATNA',
       'Karnal', 'Bareilly', 'Kaushambi', 'Rewa', 'Katni', 'Darbhanga',
       'Hazaribagh RO', 'Giridih', 'Ranchi', 'Raipur', 'Rajnandgaon',
       'Jaunpur', 'Deoria', 'Sitapur'], dtype=object)

In [43]:
df.tail(-1)

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
2,650,2,1,Prayagraj,9739,LAKSHMAN SINGH,650,34,DIVISION HEAD
3,650,2,1,Prayagraj,9739,LAKSHMAN SINGH,650,44,Credit Committee
4,650,2,1,Prayagraj,15183,ABDUL KADIR ANSARI,650,58,Audit
5,650,2,1,Prayagraj,16278,Dheeraj Shukla,650,39,Disbursement Confirmer
6,650,2,1,Prayagraj,19113,MUKESH YADAV,650,58,Audit
...,...,...,...,...,...,...,...,...,...
3006,2326,5,2206,Chandwa,27375,Rahul Raj,2326,13,Branch Manager
3007,2326,5,2206,Chandwa,31817,MODASSHIR RAZA,2326,55,BRO
3008,2327,5,607,Kurha,8699,SHASHIDHAR PASWAN,2327,13,Branch Manager
3009,2327,5,607,Kurha,31763,SAURABH KUMAR,2327,55,BRO
3010,2328,5,2199,Haripur,24835,Abhishek Kumar,2328,13,Branch Manager

In [44]:
dF.head()

,BRO_BUID,BRO_UserID,BRO_UserName,BM_BUID,BranchName,BM_UserID,BM_UserName,BM_ReportingBUId,Hub_BUID,Hub_UserID,Hub_UserName,HubName,Hub_ReportingBUId,Region_BUID,Region_UserID,Region_UserName,RegionName,Region_ReportingBUId,Div_BUID,Div_UserID,Div_UserName,DivName
0,591,4829,ANKIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3353,RAHUL KUMAR,2.0,Sirathu,4797.0,PINTU KUMAR YADAV,545.0,545.0,1692.0,Shivlal pal,BHARWARI,2180.0,2180.0,18044.0,KAMLESH YADAV,Kaushambi,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
2,2,25715,DHEERAJ KUMAR,2.0,Sirathu,4797.0,PINTU KUMAR YADAV,545.0,545.0,1692.0,Shivlal pal,BHARWARI,2180.0,2180.0,18044.0,KAMLESH YADAV,Kaushambi,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
3,2,27274,Saurabh Kushwaha,2.0,Sirathu,4797.0,PINTU KUMAR YADAV,545.0,545.0,1692.0,Shivlal pal,BHARWARI,2180.0,2180.0,18044.0,KAMLESH YADAV,Kaushambi,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj
4,2,31073,NEERAJ KUMAR,2.0,Sirathu,4797.0,PINTU KUMAR YADAV,545.0,545.0,1692.0,Shivlal pal,BHARWARI,2180.0,2180.0,18044.0,KAMLESH YADAV,Kaushambi,650.0,650.0,9739.0,LAKSHMAN SINGH,Prayagraj

In [45]:
def get_region(userid):
    return dF[dF['BRO_UserID'] == userid][['Region_UserID', 'RegionName']]

In [46]:
get_region(25715)

   Region_UserID RegionName
2        18044.0  Kaushambi

In [47]:
from datetime import date, datetime, timedelta

In [48]:
str(date.today() - timedelta(days=1))

'2023-04-27'

In [49]:
list(dF['BRO_UserID'])

[4829,
 3353,
 25715,
 27274,
 31073,
 4047,
 7219,
 31572,
 31574,
 7408,
 27892,
 30533,
 31935,
 32020,
 1478,
 3120,
 3529,
 28408,
 29881,
 29903,
 30616,
 31678,
 31787,
 4741,
 16263,
 30820,
 31568,
 31655,
 27179,
 27245,
 29995,
 22484,
 25555,
 30160,
 30308,
 30399,
 5219,
 16239,
 25549,
 30552,
 4183,
 9760,
 21310,
 27973,
 30890,
 31224,
 31849,
 4726,
 22615,
 30218,
 31575,
 28446,
 30914,
 31001,
 3661,
 29527,
 30754,
 17728,
 23722,
 30168,
 30302,
 2916,
 7138,
 30185,
 31109,
 4913,
 30530,
 31593,
 435,
 25428,
 30901,
 27674,
 29702,
 30515,
 31337,
 31766,
 32102,
 32103,
 25137,
 29528,
 29834,
 3811,
 17585,
 26818,
 32097,
 25292,
 29654,
 30323,
 30778,
 31120,
 32093,
 25400,
 29830,
 31064,
 31489,
 31687,
 27460,
 28337,
 31488,
 31717,
 32009,
 5241,
 21287,
 30362,
 31382,
 22567,
 27786,
 30306,
 31547,
 31865,
 31976,
 32084,
 27083,
 27108,
 30143,
 31406,
 31554,
 31647,
 32046,
 3572,
 21224,
 26871,
 28008,
 32089,
 15077,
 26979,
 28001,
 29481,
 32158,
 11892,
 17787,
 17858,
 30016,
 31270,
 31991,
 32035,
 30944,
 31020,
 31152,
 31377,
 4790,
 27790,
 31664,
 32123,
 2114,
 3347,
 24902,
 25672,
 26862,
 31357,
 31571,
 31579,
 31755,
 27036,
 29878,
 30186,
 30743,
 28266,
 30209,
 30861,
 31494,
 31936,
 31939,
 17963,
 21206,
 29520,
 29778,
 30860,
 31841,
 16475,
 25671,
 28024,
 30378,
 31693,
 21220,
 22525,
 25443,
 29947,
 30361,
 31126,
 31960,
 31961,
 31981,
 32004,
 25325,
 25681,
 29960,
 31546,
 31837,
 29579,
 29580,
 30949,
 31343,
 31926,
 28429,
 29950,
 31123,
 31229,
 21444,
 28048,
 30264,
 31899,
 7500,
 31002,
 31203,
 4871,
 4994,
 12000,
 31711,
 26951,
 27848,
 30553,
 32170,
 25784,
 27107,
 30478,
 30479,
 30677,
 32036,
 4638,
 30733,
 31873,
 31934,
 25044,
 27528,
 30325,
 31586,
 32034,
 3355,
 16299,
 21222,
 25341,
 27789,
 30259,
 7436,
 29917,
 30108,
 30289,
 31775,
 27690,
 30814,
 30956,
 31185,
 31258,
 31998,
 32114,
 7604,
 24894,
 25080,
 30412,
 31230,
 25125,
 27862,
 29808,
 29809,
 30766,
 31517,
 31661,
 31903,
 22630,
 29738,
 31737,
 17918,
 30573,
 31040,
 31049,
 32132,
 24847,
 31677,
 32111,
 10854,
 28347,
 30013,
 32019,
 11888,
 26987,
 28249,
 31050,
 31669,
 27148,
 29911,
 30579,
 31039,
 32059,
 3860,
 4222,
 22605,
 22632,
 27022,
 31104,
 16442,
 21259,
 29544,
 29842,
 31391,
 31479,
 4808,
 18059,
 32031,
 11920,
 25169,
 31013,
 31015,
 31265,
 32072,
 3967,
 7533,
 27134,
 27834,
 28182,
 29996,
 32156,
 15056,
 27178,
 30482,
 31793,
 31897,
 2107,
 30443,
 30447,
 31356,
 31637,
 16258,
 17915,
 17983,
 31200,
 31375,
 4038,
 17604,
 27989,
 29919,
 31807,
 32117,
 30270,
 30415,
 30554,
 30559,
 30768,
 31088,
 31933,
 10787,
 24984,
 27512,
 32137,
 17941,
 25677,
 28170,
 28201,
 30425,
 30426,
 28237,
 30190,
 31136,
 31160,
 31268,
 31923,
 3842,
 28118,
 30127,
 25530,
 28089,
 29913,
 30256,
 3005,
 27144,
 27794,
 30024,
 30394,
 31668,
 32062,
 3855,
 12024,
 21470,
 27109,
 28207,
 28234,
 30618,
 1709,
 27497,
 30984,
 31587,
 31649,
 31665,
 17998,
 27513,
 30632,
 31883,
 27751,
 30201,
 30517,
 30856,
 31016,
 31312,
 1934,
 26906,
 27782,
 29587,
 30806,
 31750,
 23726,
 27311,
 27350,
 29898,
 31354,
 4439,
 27273,
 27688,
 29912,
 30615,
 30974,
 25185,
 25340,
 29739,
 30424,
 27548,
 30101,
 31090,
 31275,
 31441,
 31459,
 32018,
 25574,
 28112,
 29963,
 31347,
 25344,
 26855,
 30391,
 30742,
 31738,
 3020,
 17764,
 30717,
 30998,
 31732,
 32037,
 21328,
 29543,
 31093,
 31225,
 17705,
 21451,
 29491,
 30975,
 31099,
 31585,
 31758,
 32161,
 3165,
 4062,
 7346,
 17948,
 24830,
 29679,
 28330,
 30304,
 30688,
 30769,
 31243,
 31491,
 31622,
 4691,
 11917,
 22546,
 31034,
 31584,
 31604,
 4200,
 7289,
 27234,
 30721,
 30996,
 31583,
 31970,
 32053,
 3221,
 7434,
 28414,
 29734,
 30718,
 32136,
 30496,
 30720,
 31292,
 31469,
 31892,
 21352,
 29503,
 31576,
 31992,
 32142,
 32162,
 21415,
 30112,
 30589,
 31033,
 31471,
 31828,
 17970,
 24851,
 30873,
 31293,
 32055,
 32150,
 27468,
 28252,
 30199,
 31958,
 24913,
 25648,
 30544,
 31733,
 31771,
 27791,
 30163,
 30262,
 31984,
 4441,
 30014,
 31161,
 4572,
 16517,
 17952,
 28420,
 31615,
 27788,
 29946,
 31484,
 31611,
 31999,
 32038,
 10814,
 30469,
 30546,
 30999,
 25065,
 25259,
 28040,
 28307,
 28461,
 29687,
 29851,
 31824,
 32172,
 21368,
 22508,
 30476,
 31435,
 7498,
 25645,
 30725,
 30271,
 30375,
 30555,
 31157,
 31912,
 27801,
 28177,
 29921,
 31106,
 31129,
 31208,
 31519,
 22584,
 29522,
 30179,
 31756,
 5050,
 25685,
 28356,
 30724,
 3891,
 5212,
 30352,
 30859,
 31113,
 31134,
 31931,
 31940,
 25474,
 29909,
 29974,
 31699,
 27830,
 28055,
 28458,
 28459,
 30139,
 31410,
 25172,
 25544,
 31037,
 31076,
 31335,
 31646,
 32005,
 3180,
 10808,
 28316,
 30347,
 29733,
 30167,
 30320,
 31291,
 30115,
 30364,
 30419,
 31735,
 31989,
 32092,
 32167,
 11875,
 16241,
 17612,
 29772,
 31788,
 31908,
 27031,
 29936,
 30227,
 31198,
 31877,
 23670,
 25302,
 29611,
 31472,
 31721,
 31957,
 31969,
 28018,
 30928,
 31278,
 31470,
 31928,
 32012,
 25261,
 27310,
 28038,
 30912,
 30972,
 27974,
 30146,
 31167,
 30203,
 31063,
 31854,
 31855,
 29593,
 30161,
 30730,
 31314,
 25615,
 27146,
 27584,
 28021,
 28030,
 28125,
 30568,
 31534,
 32086,
 2944,
 30281,
 30808,
 31226,
 31627,
 29674,
 29923,
 30298,
 30686,
 31252,
 32152,
 25614,
 27081,
 27675,
 27983,
 30031,
 31251,
 18011,
 29879,
 30373,
 30493,
 30962,
 31845,
 32104,
 25755,
 27425,
 27501,
 31158,
 31253,
 31859,
 27970,
 27972,
 30558,
 31156,
 25349,
 30989,
 31184,
 31187,
 31250,
 27213,
 31353,
 31355,
 31344,
 21371,
 29939,
 30497,
 31009,
 31827,
 31942,
 2911,
 16277,
 30631,
 30722,
 30811,
 31021,
 17824,
 21390,
 30134,
 32041,
 32121,
 21203,
 25673,
 26808,
 27975,
 28276,
 31171,
 2996,
 25164,
 28095,
 31805,
 24823,
 29812,
 30261,
 31481,
 21260,
 26886,
 29504,
 31449,
 25495,
 25634,
 30291,
 31881,
 32116,
 25131,
 30463,
 31409,
 31696,
 3875,
 16211,
 25055,
 30875,
 31653,
 22572,
 29956,
 31144,
 32145,
 21372,
 30037,
 30104,
 30938,
 16426,
 24907,
 30231,
 30613,
 16469,
 24906,
 30448,
 31633,
 27582,
 29868,
 29871,
 30903,
 22635,
 29916,
 29607,
 31462,
 32021,
 25658,
 29555,
 30605,
 31448,
 24950,
 27137,
 30470,
 30752,
 31760,
 29484,
 29757,
 31048,
 31682,
 17808,
 24947,
 29635,
 30450,
 30726,
 32033,
 17658,
 28185,
 30006,
 30716,
 31684,
 31927,
 27807,
 30172,
 31540,
 27495,
 29705,
 30527,
 31030,
 31536,
 27479,
 29873,
 31351,
 27852,
 30598,
 31237,
 32029,
 32082,
 28256,
 29884,
 29885,
 30765,
 31417,
 31673,
 21400,
 27280,
 30453,
 31233,
 31249,
 4664,
 22614,
 31080,
 31463,
 27681,
 30299,
 30983,
 31164,
 18049,
 31196,
 31349,
 31641,
 32115,
 32131,
 30319,
 30852,
 31234,
 10803,
 10804,
 28416,
 29983,
 31122,
 21155,
 30022,
 31044,
 17967,
 28041,
 29571,
 31495,
 32163,
 4915,
 28455,
 31618,
 3004,
 17893,
 22578,
 25383,
 28405,
 26911,
 28373,
 29766,
 31181,
 27232,
 27370,
 27429,
 31191,
 29657,
 30526,
 31032,
 32050,
 4873,
 12002,
 16483,
 31652,
 25100,
 27875,
 30710,
 32000,
 27256,
 27771,
 28424,
 31331,
 17607,
 21405,
 28421,
 31222,
 32119,
 32144,
 23764,
 25661,
 27289,
 29742,
 29980,
 24871,
 27842,
 10778,
 30398,
 31497,
 27559,
 30198,
 31279,
 31825,
 27115,
 29902,
 30877,
 31474,
 31690,
 28127,
 29822,
 30876,
 31919,
 25221,
 29794,
 30019,
 31431,
 31937,
 27611,
 27691,
 28450,
 32067,
 4522,
 21435,
 24872,
 31232,
 26882,
 30514,
 31005,
 31264,
 31685,
 31830,
 2949,
 3473,
 31874,
 29728,
 31966,
 25486,
 28059,
 29732,
 30062,
 21392,
 22499,
 27186,
 28472,
 30556,
 31856,
 31656,
 31921,
 31938,
 31994,
 3401,
 4874,
 5079,
 17789,
 17857,
 29606,
 27905,
 30094,
 30440,
 30713,
 30917,
 31898,
 28115,
 29620,
 29760,
 30133,
 31550,
 31658,
 31757,
 31983,
 29726,
 31616,
 27898,
 27900,
 30150,
 30931,
 31701,
 27902,
 29786,
 30076,
 30637,
 31514,
 32043,
 25016,
 27589,
 27739,
 31017,
 31383,
 31809,
 32044,
 27131,
 28412,
 ...]

In [50]:
bro_df

      BRO_BUID  BRO_UserID            BRO_UserName
244        591        4829                   ANKIT
361          2        3353             RAHUL KUMAR
363          2       25715           DHEERAJ KUMAR
364          2       27274        Saurabh Kushwaha
365          2       31073           NEERAJ  KUMAR
...        ...         ...                     ...
3002      2324       31527          ANNU  KUSHWAHA
3003      2324       31751       SAKSHI  CHOUDHARY
3005      2325       27196  Mithilesh Kumar Paswan
3007      2326       31817          MODASSHIR RAZA
3009      2327       31763           SAURABH KUMAR

[2099 rows x 3 columns]

In [51]:
df[df['UserID'] == 25630]

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
3004,2325,5,2104,Nirmali,25630,Dharmveer Kumar,2325,13,Branch Manager

In [52]:
dF[dF['BranchName'] == 'Nirmali']

,BRO_BUID,BRO_UserID,BRO_UserName,BM_BUID,BranchName,BM_UserID,BM_UserName,BM_ReportingBUId,Hub_BUID,Hub_UserID,Hub_UserName,HubName,Hub_ReportingBUId,Region_BUID,Region_UserID,Region_UserName,RegionName,Region_ReportingBUId,Div_BUID,Div_UserID,Div_UserName,DivName
2096,2325,27196,Mithilesh Kumar Paswan,2325.0,Nirmali,25630.0,Dharmveer Kumar,2104.0,2104.0,3904.0,RANDHEER KUMAR PASWAN,Madhubani,2198.0,2198.0,10848.0,SHYAM KISHOR MISHRA,Darbhanga,653.0,653.0,10849.0,KESHRAJ YADAV,Muzaffarpur

In [53]:
dF[dF['BM_UserID'] == 25630]['BranchName'].iloc[0]

'Nirmali'

In [54]:
branch_names = bm_df['BranchName'].unique()
branch_names

array(['Giridih', 'Sirathu', 'Nari Bari', 'Akbarpur', 'Tanda', 'Rudauli',
       'Sohawal', 'Barabanki city', 'Sidhauli', 'Malihabad', 'Mahmudabad',
       'Sitapur city', 'Itaunja', 'Mishrikh', 'Maharaj ganj',
       'Pratap Garh', 'Derwa', 'Gosaiganj', 'patti', 'Garhakota',
       'Akberpur', 'chaubey pur', 'Hathrash', 'Jalesar', 'Sikohabad',
       'Kumar ganj', 'Rewa City', 'Bareilly', 'Dostpur', 'Puramufti',
       'Lambhua', 'Maihar', 'ghatampur', 'Gohaniya', 'Soraw',
       'Moradabad City', 'Bilari', 'Chandpur', 'Joya', 'Mangawan',
       'Basti', 'Rani Ganj', 'Manikpur', 'Mahuli', 'Hariya', 'Rudhauli',
       'Satna City', 'Saray akill', 'Hanumanganj', 'Kadipur',
       'Mosafir khana', 'KATNI', 'Bhadevara', 'Sagar', 'kudhebhaar',
       'Gadarwara', 'Lalganj', 'DurgaGanj', 'GOTEGAON', 'Garha',
       'Karchhana', 'Badaun', 'Billhor', 'Bilsi', 'Faizabad', 'Raibareli',
       'Mauaima', 'PANAGAR', 'Faridpur', 'Majholi', 'Gauriganj', 'RANJHI',
       'Gwari Ghat', 'Salon', 'Fatehpur', 'City Branch', 'Bharawari',
       'Handia', 'Khaga', 'DAMOH NAKA', 'Naini', 'Phoolpur Branch',
       'Unchahar', 'Suklaganj', 'Lal Gopal Ganj', 'NARSINGHPUR',
       'Rama Devi', 'Sultanpur', 'BHITI_Ald', 'Kakadev',
       'saharanpur city', 'Jalalpur', 'Banda', 'Chhutmalpur', 'Nakur',
       'Rampurmanharan', 'Behat', 'Karnal', 'Jhabarera', 'Ladwal',
       'Haridwar', 'Laksar', 'Nawabganj', 'Biswan', 'Fathepur', 'DHAMPUR',
       'CHANDAUSI', 'Sambhal', 'Bindaki', 'Bahariya', 'Shihora', 'Bina',
       'Khuari', 'Saliminbad', 'Dewari', 'Hasanpur', 'Gajraula',
       'Nageena', 'Bijnour City', 'Nazibabad', 'Mauganj', 'Barara',
       'Yamuna Nagar', 'Kisanpura', 'Purkazi', 'Roorkee', 'Rasulabad',
       'Pukhraya', 'Sikandra', 'Mohanlalganj', 'Bareli MP', 'Udaypura',
       'Tendukheda', 'Chindwada', 'Damoh', 'Hata', 'Mandala', 'Nainpur',
       'Sewani', 'Dhakwa', 'Mayabajar', 'Vilashpur', 'Nagal',
       'Kankarkhera', 'Mawana', 'Shahjahanpur City', 'Tilahar', 'Bisouli',
       'Awanla', 'Bulandshahr', 'Gulawati', 'Garhmukteshwar', 'Hapur',
       'Hargaw', 'Banthra', 'Khalilabad', 'Jagdishpur', 'Bhiti',
       'Kannauj', 'Chhibramau', 'Bikapur', 'Dholpur', 'Mathura City',
       'Gaya', 'Tekari', 'Jahanabad City', 'Makhadumpur',
       'Sagar Makroniya', 'Vijayraghavgarh', 'Panna City', 'Amanganj',
       'Nohata', 'Jawa', 'Bharatpur City', 'Farah', 'Govardhan', 'Raya',
       'Lakhimpur Khiri', 'Chourai', 'Aurangabad', 'Daudnagar',
       'Ghaziabad City', 'Pilikhuwa', 'Muradnagar', 'Sikandrabad',
       'Chhatarpur', 'Rajapur', 'Manpur', 'Ambala', 'Shahabad',
       'Narayangarh', 'Nilokheri', 'Nawada City', 'Aligarh', 'Atarra',
       'Muzaffarpur City', 'Gwalior City', 'Dabra', 'Nagod', 'Alapur',
       'Samastipur City', 'Motipur', 'Sarfuddinpur', 'Sahebganj',
       'Rosera', 'Dalsingh Sarai', 'Haspura', 'Sahpur Patori',
       'Datia City', 'Shahdol City', 'Hardoi city', 'Gola', 'Beohari',
       'Birsinghpur', 'Damoh Gaurd Line', 'Mehdawal', 'Banda City',
       'Naraini', 'Raje Sultanpur', 'Chhapra City', 'Bansi', 'Barauni',
       'Hisua', 'Warisaliganj', 'Alwar City', 'Bihasara', 'Meja',
       'Gonda City', 'Mankapur', 'Mashrakh', 'Marhaura', 'Ekma', 'Mahua',
       'Chauri', 'Rajatalab', 'Narayanganj', 'Amarwada', 'Amarpatan',
       'Tikamgarh', 'Tendukheda Damoh', 'Shivpuri City', 'Kanti',
       'Jhansi City', 'Manjahaul', 'Balia', 'Bakhari Bazar', 'Govindgarh',
       'Kurukshetra', 'Anuppur', 'Shahgarh', 'Tajpur', 'Maker',
       'Samalkha', 'Gharaunda', 'Warisnagar', 'Bansur', 'Bandikui',
       'Kharar', 'Zirakpur', 'Ropar City', 'Patiala City', 'Rajpura',
       'Bichhiya', 'Balrampur', 'Dhaneypur', 'Kurhani', 'Islampur',
       'Karera', 'Kolaras', 'Guna', 'Shahpura', 'Dindori', 'Ghansor',
       'Gorakhpur', 'Sardar Nagar', 'Chauri Chaura', 'Kauriram',
       'Shikarpur', 'Khurja', 'Anupshahr', 'Pahasu', 'Ramnagar',
       'Kashipur', 'Bazpur', 'Jaspur', 'Gadarpur', 'Siyana', 'Pandeypur',
       'Chaubeypur', 'Baragaon', 'Pindra', 'Chandauli City',
       'Mughal Sarai', 'Deoria City', 'Kushinagar', 'Khajani',
       'Barhalganj', 'Hata_GKP', 'Umariya', 'Burhar', 'AshokNagar',
       'Motihari', 'Nagpur East Pardi', 'Nagpur', 'Ramtek', 'Katol',
       'Savner', 'Indargarh', 'Arwal', 'Saidpur', 'Tijara', 'Atrauli',
       'Sanganer', 'Phulera', 'Shahpura_JAP', 'Gauri Bazar', 'Salempur',
       'Ghazipur', 'Jaunpur City', 'Begusarai', 'Dholi', 'Saraiya',
       'Nandganj', 'Areraj', 'Kaptanganj', 'Padrauna', 'Machhali Shahar',
       'Chakia', 'Mariyahu', 'Sugauli', 'Bettiah', 'Darbhanga', 'Hilsa',
       'Balaghat', 'Betul', 'Chirgaon', 'Narkatiaganj', 'Chanpattia',
       'Dhaka', 'Kanhan', 'Baheri', 'Khairthal', 'Paota', 'Kotma',
       'Multai', 'Mohammadabad', 'Lauriya', 'Chahaniya', 'Bhatni',
       'Zamania', 'Dildarnagar', 'Shahpur', 'Amla', 'Aathner', 'Sidhi',
       'Mahrajganj', 'Niwadi', 'Mau City', 'Lucknow city',
       'Varanasi city', 'Mardah', 'Kashmabad', 'SHAHGANJ', 'GopalGanj',
       'Bhorey', 'Lalganj_MZF', 'Bahera', 'Buxar City', 'Chausa',
       'Dumraon', 'Brahmapur', 'PUNPUN', 'BEHTA', 'DANAPUR',
       'BAKHTIYARPUR', 'Sadat', 'Allahabad City IL', 'Ballia City',
       'Belthara road', 'Rasra', 'Kerakat', 'Barauli', 'BIHIYA', 'PIRO',
       'DHIGWARA', 'Fatuha', 'Waidhan', 'Deosar', 'Madhupur', 'Adalhat',
       'SIKANDARPUR', 'CHITABARA GAON', 'REVATI', 'Pharenda', 'Amliya',
       'Rampur naikin', 'CHUNAR', 'SAWAI MADHOPUR',
       'MAHARAJGANJ MOTIHARI', 'MAIRAWA', 'ROBERTSGANJ', 'JAY NAGAR',
       'BENIPATTI', 'Madhubani', 'Sampatchak', 'Laukaha', 'Phulparas',
       'Naubatpur', 'Sasaram', 'Mohania', 'PATNA CITY', 'Chaumu',
       'Sitamarhi', 'Runni Saidpur', 'Dhanarua', 'Gorakhpur City II',
       'Tamkuhi Raj', 'Ludhiana', 'Khanna', 'JABALPUR CITY', 'Pupari',
       'Umarnala', 'Katangi', 'Dausa', 'Mohammadabad Gohna', 'Bansdih',
       'Samrala', 'Phagwara', 'Nawanshahr', 'KOCHAS', 'KUDRA', 'BAGAHA',
       'BHABUA CITY', 'Muzaffarpr City IL', 'Nuaon', 'Sangrur', 'Pinjore',
       'PaliBazar', 'Sheohar', 'Kachi Paki', 'Hazaribagh city',
       'Barkatha', 'Kodarma', 'Chatra City', 'Itkhori', 'Simaria',
       'Barhi', 'Tandwa', 'Bagodar', 'Dumari', 'Ranchi City', 'Ramgarh',
       'Bundu', 'Kuru', 'Khatauli', 'Shamli', 'Amer', 'Mohammadi',
       'Maholi', 'Rupbas', 'Siswa', 'Nautanwa', 'Nichlaul', 'Lotan',
       'Barhaj', 'Rishikesh', 'Kanth', 'Mau', 'Aurai', 'Ghorawal',
       'Chopan', 'Kamalpur', 'Rani Ki Sarai', 'Lalganj Varanasi',
       'Manikpur Mau', 'Budhanpur', 'Dongargaon', 'Raipur City', 'Wardha',
       'Pulgaon', 'Moth', 'Rajdhanwar', 'Mandu', 'Arang', 'Gharautha',
       'Vidisha', 'Bhandara', 'Jamua', 'Itwa', 'Orai', 'NAUPEDWA',
       'Naugarh', 'Colonelganj', 'Meerganj', 'Chharra', 'Aligarh Quarsi',
       'Budhana', 'Sambhal City', 'Meerapur', 'Rampur Doraha', 'Nurpur',
       'kiraoli', 'Tundla', 'Shamshabad', 'Jagadhri', 'Maniya', 'Jalaun',
       'Amroha', 'Kundarki', 'Badkagaon', 'Panchanpur', 'Ora', 'Khajauli',
       'Goraul', 'Nawkothi', 'Dudhpura', 'Aadhartal', 'Nirmali',
       'Chandwa', 'Kurha', 'Haripur'], dtype=object)

In [55]:
bro_df

      BRO_BUID  BRO_UserID            BRO_UserName
244        591        4829                   ANKIT
361          2        3353             RAHUL KUMAR
363          2       25715           DHEERAJ KUMAR
364          2       27274        Saurabh Kushwaha
365          2       31073           NEERAJ  KUMAR
...        ...         ...                     ...
3002      2324       31527          ANNU  KUSHWAHA
3003      2324       31751       SAKSHI  CHOUDHARY
3005      2325       27196  Mithilesh Kumar Paswan
3007      2326       31817          MODASSHIR RAZA
3009      2327       31763           SAURABH KUMAR

[2099 rows x 3 columns]

In [56]:
df[(df['buname'] == 'Roorkee') & (df['RoleName'] == 'BRO')]

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
1122,176,5,600,Roorkee,28018,RAJNEESH KUMAR,176,55,BRO
1123,176,5,600,Roorkee,30928,TEJPAL,176,55,BRO
1124,176,5,600,Roorkee,31278,ANKUR KUMAR,176,55,BRO
1125,176,5,600,Roorkee,31470,AAKASH KUMAR,176,55,BRO
1126,176,5,600,Roorkee,31928,ANUJ KUMAR,176,55,BRO
1127,176,5,600,Roorkee,32012,AAKSAH KUMAR,176,55,BRO

In [57]:
df['buname'].unique()

array(['Prayagraj', 'Lucknow', 'Jabalpur', 'Muzaffarpur', 'Moradabad',
       'Varanasi', 'Jaipur', 'Gwalior', 'Saharanpur', 'Patna',
       'Ranchi DO', 'Raipur', 'Kanpur', 'Faizabad', 'Bharatpur', 'Gaya',
       'Ghaziabad', 'Samastipur', 'Sagar', 'Satna', 'Chandigarh',
       'Gorakhpur', 'Motihari', 'Nagpur', 'CHINDWADA', 'Sultanpur',
       'Ghazipur RO', 'BUXAR', 'PATNA', 'Karnal', 'Bareilly', 'Kaushambi',
       'Rewa', 'Katni', 'Darbhanga', 'Hazaribagh RO', 'Giridih', 'Ranchi',
       'Rajnandgaon', 'Jaunpur', 'Deoria', 'Sitapur', 'BHARWARI',
       'City Branch', 'KARCHANA', 'KARVI', 'PHOOLPUR', 'PRATAPGARH',
       'AKBARPUR', 'BASTI', 'FAIZABAD', 'GONDA', 'KADIPUR', 'SULTANPUR',
       'Ghazipur Hub', 'GWALIOR', 'GADARWARA', 'JABALPUR URBAN', 'MANDLA',
       'SIHORA', 'DAMOH', 'PANNA', 'SAGAR', 'KATNI', 'REWA', 'Alawar',
       'Hathrash', 'Mathura', 'Akberpur', 'Billaur', 'Fatehpur',
       'Barabanki', 'Raibarely', 'Sidhauli', 'sitapur', 'Patiaya City',
       'Hapur', 'Badaun', 'Bijnor', 'Joya', 'Ambala', 'Chhutmalpur',
       'Ladwa', 'Roorkee', 'Daudnagar', 'Nawada', 'Chapra ', 'Begusarai',
       'SAMASTIPUR', 'Mau', 'Shahdol ', 'Ballia', 'Sidhi', 'Madhubani',
       'Ludhiana', 'Sitamarhi', 'Bulandshahar', 'Kushinagar', 'MOTIPUR',
       'HANDIA', 'Jabalpur Rural', 'Betul', 'SEONI', 'Garhakota',
       'JHANSI', 'MUGHAL SARAI', 'GUNA', 'JAUNPUR', 'Burhar', 'ADALHAT',
       'Kashipur', 'NANDGANJ', 'KASIMABAD', 'Rajpura', 'GOPALGANJ',
       'PIRO', 'Sampatchak', 'Bettiah', 'Sagar Makroniya', 'Shahgarh',
       'Hata', 'NARSINGHPUR', 'Maharajganj', 'KURHANI', 'Khalilabad',
       'Malihabad', 'Pandeypur', 'Naini', 'Kudra', 'BIHIYA', 'Zirakpur',
       'Shahpura', 'Sanganer', 'Dalsingh Sarai', 'Hazaribagh', 'Chatra',
       'Lakhimpur', 'Barhalganj', 'Gohaniya', 'Ramgarh', 'Kankarkhera',
       'Siswa', 'ROBERTSGANJ', 'Chandauli', 'Rani Ki Sarai',
       'Baloda Bazar', 'Narkatiaganj', 'Vidisha', 'Itwa', 'Orai',
       'Khairthal', 'Chauri Chaura', 'Pindra', 'Kauriram', 'Kakadev',
       'Aligarh', 'Tilahar', 'Haridwar', 'Kishanpura', 'Tundla',
       'Sambhal', 'Mawana', 'Sirathu', 'Nari Bari', 'Akbarpur', 'Tanda',
       'Rudauli', 'Sohawal', 'Barabanki city', 'Mahmudabad',
       'Sitapur city', 'Itaunja', 'Mishrikh', 'Maharaj ganj',
       'Pratap Garh', 'Derwa', 'Lalganj Ajhara', 'Gosaiganj', 'patti',
       'chaubey pur', 'Jalesar', 'Sikohabad', 'Kumar ganj', 'Rewa City',
       'Dostpur', 'Puramufti', 'Lambhua', 'Maihar', 'ghatampur', 'Soraw',
       'Moradabad City', 'Bilari', 'Chandpur', 'Mangawan', 'Basti',
       'Rani Ganj', 'Manikpur', 'Babhnan', 'Mahuli', 'Hariya', 'Rudhauli',
       'Satna City', 'Saray akill', 'Hanumanganj', 'Kadipur',
       'Mosafir khana', 'Bhadevara', 'kudhebhaar', 'Gadarwara', 'Lalganj',
       'DurgaGanj', 'Gosai Ganj', 'GOTEGAON', 'Garha', 'Hatgam',
       'Pashchim Sarira', 'Karchhana', 'Billhor', 'Bilsi', 'Raibareli',
       'Mauaima', 'PANAGAR', 'Faridpur', 'Majholi', 'Gauriganj', 'RANJHI',
       'Gwari Ghat', 'Salon', 'Bharawari', 'Handia', 'Khaga',
       'DAMOH NAKA', 'Phoolpur Branch', 'Unchahar', 'Suklaganj',
       'Lal Gopal Ganj', 'Kareli Branch', 'Rama Devi', 'BHITI_Ald',
       'saharanpur city', 'Jalalpur', 'Banda', 'Nakur', 'Rampurmanharan',
       'Behat', 'Jhabarera', 'Ladwal', 'Laksar', 'Nawabganj', 'Biswan',
       'Fathepur', 'DHAMPUR', 'CHANDAUSI', 'Bindaki', 'Bahariya',
       'Shihora', 'Bina', 'Khuari', 'Pipriya', 'Saliminbad', 'Dewari',
       'Hasanpur', 'Gajraula', 'Nageena', 'Bijnour City', 'Nazibabad',
       'Mauganj', 'Barara', 'Yamuna Nagar', 'Kisanpura', 'Purkazi',
       'Rasulabad', 'Pukhraya', 'Sikandra', 'Mohanlalganj', 'Bareli MP',
       'Udaypura', 'Tendukheda', 'Chindwada', 'Damoh', 'Mandala',
       'Nainpur', 'Sewani', 'Dhakwa', 'Mayabajar', 'Vilashpur', 'Nagal',
       'Shahjahanpur City', 'Pilibhit', 'Bisouli', 'Awanla',
       'Bulandshahr', 'Gulawati', 'Garhmukteshwar', 'Hargaw', 'Banthra',
       'Jagdishpur', 'Bhiti', 'Kannauj', 'Chhibramau', 'Bikapur',
       'Dholpur', 'Mathura City', 'Tekari', 'Jahanabad City',
       'Makhadumpur', 'Vijayraghavgarh', 'Panna City', 'Amanganj',
       'Nohata', 'Jawa', 'Bharatpur City', 'Farah', 'Govardhan', 'Raya',
       'Lakhimpur Khiri', 'Chourai', 'Aurangabad', 'Ghaziabad City',
       'Pilikhuwa', 'Muradnagar', 'Shastri Nagar', 'Sikandrabad',
       'Chhatarpur', 'Rajapur', 'Manpur', 'Shahabad', 'Narayangarh',
       'Nilokheri', 'Nawada City', 'Karwi', 'Atarra', 'Muzaffarpur City',
       'Gwalior City', 'Dabra', 'Nagod', 'Alapur', 'Samastipur City',
       'Motipur', 'Sarfuddinpur', 'Sahebganj', 'Rosera', 'Haspura',
       'Sahpur Patori', 'Datia City', 'Shahdol City', 'Hardoi city',
       'Gola', 'Beohari', 'Birsinghpur', 'Damoh Gaurd Line', 'Mehdawal',
       'Banda City', 'Naraini', 'Raje Sultanpur', 'Chhapra City', 'Bansi',
       'Barauni', 'Hisua', 'Warisaliganj', 'Alwar City', 'Bihasara',
       'Meja', 'Gonda City', 'Mankapur', 'Mashrakh', 'Marhaura', 'Ekma',
       'Mahua', 'Chauri', 'Rajatalab', 'Narayanganj', 'Amarwada',
       'Amarpatan', 'Tikamgarh', 'Jatara', 'Tendukheda Damoh',
       'Shivpuri City', 'Kanti', 'Jhansi City', 'Manjahaul', 'Balia',
       'Bakhari Bazar', 'Govindgarh', 'Kurukshetra', 'Anuppur', 'Tajpur',
       'Maker', 'Samalkha', 'Gharaunda', 'Warisnagar', 'Bansur',
       'Bandikui', 'Kharar', 'Ropar City', 'Patiala City', 'Bichhiya',
       'Balrampur', 'Dhaneypur', 'Kurhani', 'Islampur', 'Karera',
       'Kolaras', 'Guna', 'Dindori', 'Ghansor', 'Sardar Nagar',
       'Shikarpur', 'Khurja', 'Anupshahr', 'Pahasu', 'Ramnagar', 'Bazpur',
       'Jaspur', 'Gadarpur', 'Siyana', 'Chaubeypur', 'Baragaon',
       'Chandauli City', 'Mughal Sarai', 'Deoria City', 'Khajani',
       'Hata_GKP', 'Umariya', 'AshokNagar', 'Nagpur East Pardi', 'Ramtek',
       'Katol', 'Savner', 'Indargarh', 'Arwal', 'Saidpur', 'Tijara',
       'Atrauli', 'Chakia_MOT', 'Phulera', 'Shahpura_JAP', 'Gauri Bazar',
       'Salempur', 'Ghazipur', 'Jaunpur City', 'Dholi', 'Saraiya',
       'Nandganj', 'Areraj', 'Kaptanganj', 'Padrauna', 'Machhali Shahar',
       'Chakia', 'Mariyahu', 'Sugauli', 'Hilsa', 'Balaghat', 'Chirgaon',
       'Chanpattia', 'Dhaka', 'Kanhan', 'Baheri', 'Paota', 'Khair',
       'Kotma', 'Multai', 'Mohammadabad', 'Lauriya', 'Chahaniya',
       'Bhatni', 'Zamania', 'Dildarnagar', 'Shahpur', 'Amla', 'Narkhed',
       'Aathner', 'Mahrajganj', 'Niwadi', 'Mau City', 'Lucknow city',
       'Varanasi city', 'Mardah', 'Kashmabad', 'SHAHGANJ', 'GopalGanj',
       'Miraganj', 'Bhorey', 'Lalganj_MZF', 'Bahera', 'Buxar City',
       'Chausa', 'Dumraon', 'Brahmapur', 'PUNPUN', 'BEHTA', 'DANAPUR',
       'BAKHTIYARPUR', 'Sadat', 'Allahabad City IL', 'Ballia City',
       'Belthara road', 'Rasra', 'Kerakat', 'Barauli', 'DHIGWARA',
       'Fatuha', 'Waidhan', 'Deosar', 'Madhupur', 'Adalhat',
       'SIKANDARPUR', 'CHITABARA GAON', 'REVATI', 'Pharenda', 'Amliya',
       'Rampur naikin', 'CHUNAR', 'SAWAI MADHOPUR',
       'MAHARAJGANJ MOTIHARI', 'MAIRAWA', 'JAY NAGAR', 'BENIPATTI',
       'Laukaha', 'Phulparas', 'Naubatpur', 'Sasaram', 'Mohania',
       'PATNA CITY', 'Chaumu', 'Runni Saidpur', 'Dhanarua',
       'Gorakhpur City II', 'Tamkuhi Raj', 'Khanna', 'JABALPUR CITY',
       'Bairgania', 'Pupari', 'Umarnala', 'Katangi', 'Dausa',
       'Mohammadabad Gohna', 'Bansdih', 'Samrala', 'Phagwara',
       'Nawanshahr', 'KOCHAS', 'KUDRA', 'BAGAHA', 'BHABUA CITY',
       'Muzaffarpr City IL', 'Nuaon', 'Sangrur', 'Pinjore', 'PaliBazar',
       'Sheohar', 'Kachi Paki', 'Hazaribagh city', 'Barkatha', 'Kodarma',
       'Chatra City', 'Itkhori', 'Simaria', 'Barhi', 'Tandwa', 'Bagodar',
       'Dumari', 'Ranchi City', 'Bundu', 'Kuru', 'Khatauli', 'Shamli',
       'Amer', 'Mohammadi', 'Nighasan', 'Maholi', 'Rupbas', 'Nautanwa',
       'Nichlaul', 'Lotan', 'Barhaj', 'Rishikesh', 'Kanth', 'Aurai',
       'Ghorawal', 'Chopan', 'Kamalpur', 'Lalganj Varanasi',
       'Manikpur Mau', 'Budhanpur', 'Dongargaon', 'khairagarh',
       'Raipur City', 'Rajim', 'Wardha', 'Pulgaon', 'Moth', 'Rajdhanwar',
       'Mandu', 'Arang', 'Gharautha', 'Bhandara', 'Kasdol', 'Jamua',
       'NAUPEDWA', 'Naugarh', 'Colonelganj', 'Meerganj', 'Chharra',
       'Aligarh Quarsi', 'Budhana', 'Sambhal City', 'Meerapur',
       'Rampur Doraha', 'Nurpur', 'kiraoli', 'Shamshabad', 'Jagadhri',
       'Maniya', 'Jalaun', 'Amroha', 'Kundarki', 'Badkagaon',
       'Panchanpur', 'Ora', 'Khajauli', 'Goraul', 'Nawkothi', 'Dudhpura',
       'Aadhartal', 'Nirmali', 'Chandwa', 'Kurha', 'Haripur'],
      dtype=object)

In [58]:
sql_query = f"""SET NOCOUNT ON;EXEC [{db}].[dbo].[SP_UserHierarchy_Dynamic_07Jan23] @userid = 25630;SET NOCOUNT OFF"""
nbdf=pd.read_sql_query(sql_query,engine)

In [59]:
nbdf

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
0,2325,5,2104,Nirmali,25630,Dharmveer Kumar,2325,13,Branch Manager
1,2325,5,2104,Nirmali,27196,Mithilesh Kumar Paswan,2325,55,BRO

In [60]:
div_df = nbdf[(nbdf['RoleId']==34)&(nbdf['RoleName']=='DIVISION HEAD')][['U_BUID','UserID','UserName','buname']]
div_df.rename(columns={'U_BUID':'Div_BUID','buname':'DivName','UserID':'Div_UserID','UserName':'Div_UserName'}, inplace=True)
reg_df = nbdf[(nbdf['RoleId']==35)&(nbdf['RoleName']=='REGION HEAD')][['U_BUID','UserID','UserName','buname','ReportingBUId']]
reg_df.rename(columns={'U_BUID':'Region_BUID','ReportingBUId':'Region_ReportingBUId','buname':'RegionName','UserID':'Region_UserID','UserName':'Region_UserName'}, inplace=True)
hub_df = nbdf[(nbdf['RoleId']==36)&(nbdf['RoleName']=='HUB HEAD')][['U_BUID','UserID','UserName','buname','ReportingBUId']]
hub_df.rename(columns={'U_BUID':'Hub_BUID','ReportingBUId':'Hub_ReportingBUId','buname':'HubName','UserID':'Hub_UserID','UserName':'Hub_UserName'}, inplace=True)
bm_df = nbdf[(nbdf['RoleId']==13)&(nbdf['RoleName']=='Branch Manager')][['U_BUID','buname','UserID','UserName','ReportingBUId']]
bm_df.rename(columns={'U_BUID':'BM_BUID','ReportingBUId':'BM_ReportingBUId','buname':'BranchName','UserID':'BM_UserID','UserName':'BM_UserName'}, inplace=True)
bro_df = nbdf[(nbdf['RoleId']==55)&(nbdf['RoleName']=='BRO')][['U_BUID','UserID','UserName']]
bro_df.rename(columns={'U_BUID':'BRO_BUID','UserID':'BRO_UserID','UserName':'BRO_UserName'}, inplace=True)
M1 = pd.merge(bro_df,bm_df,left_on='BRO_BUID',right_on='BM_BUID',how='left').drop_duplicates(subset='BRO_UserID')
M2 = pd.merge(M1,hub_df,left_on='BM_ReportingBUId',right_on='Hub_BUID',how='left').drop_duplicates(subset='BRO_UserID')
M3 = pd.merge(M2,reg_df,left_on='Hub_ReportingBUId',right_on='Region_BUID',how='left').drop_duplicates(subset='BRO_UserID')
dF = pd.merge(M3,div_df,left_on='Region_ReportingBUId',right_on='Div_BUID',how='left').drop_duplicates(subset='BRO_UserID')

In [61]:
dF

,BRO_BUID,BRO_UserID,BRO_UserName,BM_BUID,BranchName,BM_UserID,BM_UserName,BM_ReportingBUId,Hub_BUID,Hub_UserID,Hub_UserName,HubName,Hub_ReportingBUId,Region_BUID,Region_UserID,Region_UserName,RegionName,Region_ReportingBUId,Div_BUID,Div_UserID,Div_UserName,DivName
0,2325,27196,Mithilesh Kumar Paswan,2325,Nirmali,25630,Dharmveer Kumar,2104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
reqdf = pd.merge(all_tasks_df, nbdf, how='left', left_on='assigned_to', right_on='UserID').drop_duplicates(subset=['task_id'])
reqdf = pd.merge(reqdf, dF, how='left', left_on='UserID', right_on = 'BRO_UserID' )

In [63]:
reqdf[reqdf['assigned_to'] == 25630]

Empty DataFrame
Columns: [task_id, task_description, status, priority, assigned_to, created_by, completion_date, created_on, deadline_date, category, review, feedback, BUId, BUType, ReportingBUId, buname, UserID, UserName, U_BUID, RoleId, RoleName, BRO_BUID, BRO_UserID, BRO_UserName, BM_BUID, BranchName, BM_UserID, BM_UserName, BM_ReportingBUId, Hub_BUID, Hub_UserID, Hub_UserName, HubName, Hub_ReportingBUId, Region_BUID, Region_UserID, Region_UserName, RegionName, Region_ReportingBUId, Div_BUID, Div_UserID, Div_UserName, DivName]
Index: []

In [64]:
sql_query = f"""SET NOCOUNT ON;select * from dbo.TaskCategoryMasterTable;SET NOCOUNT OFF"""
category_df = pd.read_sql_query(sql_query,engine)
category_df

    CategoryID               CategoryName
0            3        Collection Followup
1            4            Data Correction
2            5          Proposal Followup
3            6             Promise to Pay
4            7         Retention Followup
5            8          Post Disbursement
6            9           Pre Disbursement
7           10               Wrong Number
8           11    Center Visit Compliance
9           12    Branch Visit Compliance
10          13  BC Application Correction
11          14                    General
12          15                NACH Bounce
13           2             DisbursementID
14           1                 CenterTask
15          16          Customer Followup

In [65]:
category_df.dtypes

CategoryID       int64
CategoryName    object
dtype: object

In [66]:
category_dict = dict(zip(category_df['CategoryID'], category_df['CategoryName']))
category_dict

{3: 'Collection Followup',
 4: 'Data Correction',
 5: 'Proposal Followup',
 6: 'Promise to Pay',
 7: 'Retention Followup',
 8: 'Post Disbursement',
 9: 'Pre Disbursement',
 10: 'Wrong Number',
 11: 'Center Visit Compliance',
 12: 'Branch Visit Compliance',
 13: 'BC Application Correction',
 14: 'General',
 15: 'NACH Bounce',
 2: 'DisbursementID',
 1: 'CenterTask',
 16: 'Customer Followup'}

In [67]:
cols_req = [
        'created_on',
        'DivName',
        'RegionName',
        'HubName',
        'BranchName',
        'assigned_to',
        'created_by',
        'priority',
        'task_id',
        'category',
        'task_description',
        'deadline_date',
        #reschedule date
        #whatsapp conf
        'status',
        'completion_date',
        'review',
        'feedback'
    ]

In [68]:
reqdf = reqdf[cols_req]
reqdf

,created_on,DivName,RegionName,HubName,BranchName,assigned_to,created_by,priority,task_id,category,task_description,deadline_date,status,completion_date,review,feedback
0,2023-04-01,NaN,NaN,NaN,NaN,29938,2271,1,129116,7,Customer (Customer id: Sdl:Bhr:01:006) is inte...,2023-04-01,Completed,2023-04-21,None,None
1,2023-04-01,NaN,NaN,NaN,NaN,30482,27199,1,129117,10,Customer (Customer id: Rab:cit:01:236:037) has...,2023-04-01,Pending,None,None,None
2,2023-04-01,NaN,NaN,NaN,NaN,27245,27199,1,129118,10,Customer (Customer id: Bab:cit:01:189:043) has...,2023-04-01,Pending,None,None,None
3,2023-04-01,NaN,NaN,NaN,NaN,27815,27815,1,129119,3,Customer (Customer id: 1397268) will pay an am...,2023-04-01,Pending,None,None,None
4,2023-04-01,NaN,NaN,NaN,NaN,31063,27199,1,129120,10,Customer (Customer id: Lko:mhn:01:116:004) has...,2023-04-01,Pending,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48840,2023-04-28,NaN,NaN,NaN,NaN,31150,30855,1,192776,3,Customer (Customer id: 1356191) will pay an am...,2023-05-01,Pending,None,None,None
48841,2023-04-28,NaN,NaN,NaN,NaN,27611,3410,1,192777,3,Customer (Customer id: 3177937) will pay an am...,2023-04-28,Pending,None,None,None
48842,2023-04-28,NaN,NaN,NaN,NaN,31452,9731,1,192778,10,Customer (Customer id: Bha:Ala:348:223:015) ha...,2023-04-28,Pending,None,None,None
48843,2023-04-28,NaN,NaN,NaN,NaN,27790,27171,1,192779,10,Customer (Customer id: Kan:Fat:40:123:015) has...,2023-04-28,Pending,None,None,None
48844,2023-04-28,NaN,NaN,NaN,NaN,28450,28450,1,192780,3,Customer (Customer id: 2802693) will pay an am...,2023-04-30,Pending,None,None,None

In [69]:
category_dict[8]
type(list(category_dict.keys())[0])

int

In [70]:
reqdf['category'].apply(lambda x : str(x) + '-' + category_dict[int(x)] if (x.isdigit() and (int(x) in category_dict.keys())) else str(x))

0         7-Retention Followup
1              10-Wrong Number
2              10-Wrong Number
3        3-Collection Followup
4              10-Wrong Number
                 ...
48840    3-Collection Followup
48841    3-Collection Followup
48842          10-Wrong Number
48843          10-Wrong Number
48844    3-Collection Followup
Name: category, Length: 48845, dtype: object

In [71]:
reqdf['category'].apply(lambda x : str(x) if x == 'Choose the Category' else str(x) + '-' + category_dict[int(x)])

0         7-Retention Followup
1              10-Wrong Number
2              10-Wrong Number
3        3-Collection Followup
4              10-Wrong Number
                 ...
48840    3-Collection Followup
48841    3-Collection Followup
48842          10-Wrong Number
48843          10-Wrong Number
48844    3-Collection Followup
Name: category, Length: 48845, dtype: object

In [72]:
type(reqdf['category'])

pandas.core.series.Series

In [73]:
all_tasks_df['category'].apply(lambda x : (x.isdigit() == False))

0        False
1        False
2        False
3        False
4        False
         ...
48840    False
48841    False
48842    False
48843    False
48844    False
Name: category, Length: 48845, dtype: bool

In [74]:
all_tasks_df[all_tasks_df['category'].apply(lambda x : (x.isdigit() == False)) ]

,task_id,task_description,status,priority,assigned_to,created_by,completion_date,created_on,deadline_date,category,review,feedback
20630,164529,test dssxc,Pending,3,18091,7535,None,2023-04-07,2023-04-21,Choose the Category,None,None
23247,167153,khascvksehbvksv,Pending,4,27784,27784,None,2023-04-10,2023-04-20,Choose the Category,None,None
33803,177739,test,Pending,1,17789,2163,None,2023-04-18,2023-04-20,Choose the Category,None,None
33943,177879,test,Completed,3,3401,2163,2023-04-18,2023-04-18,2023-04-29,Choose the Category,None,None
34138,178074,Testing,Pending,2,3401,2163,None,2023-04-18,2023-05-05,Choose the Category,None,None
34155,178091,testing Description,Pending,2,17789,2163,None,2023-04-18,2023-04-27,Choose the Category,None,None
35801,179737,testing assign a new task to BM,Pending,2,2164,7082,None,2023-04-19,2023-04-28,Choose the Category,None,None
48028,191964,testing,Pending,3,7082,7082,None,2023-04-28,2023-04-30,Choose the Category,None,None

In [75]:
reqdf[reqdf['category'] == 'Choose the Category']

,created_on,DivName,RegionName,HubName,BranchName,assigned_to,created_by,priority,task_id,category,task_description,deadline_date,status,completion_date,review,feedback
20630,2023-04-07,NaN,NaN,NaN,NaN,18091,7535,3,164529,Choose the Category,test dssxc,2023-04-21,Pending,None,None,None
23247,2023-04-10,NaN,NaN,NaN,NaN,27784,27784,4,167153,Choose the Category,khascvksehbvksv,2023-04-20,Pending,None,None,None
33803,2023-04-18,NaN,NaN,NaN,NaN,17789,2163,1,177739,Choose the Category,test,2023-04-20,Pending,None,None,None
33943,2023-04-18,NaN,NaN,NaN,NaN,3401,2163,3,177879,Choose the Category,test,2023-04-29,Completed,2023-04-18,None,None
34138,2023-04-18,NaN,NaN,NaN,NaN,3401,2163,2,178074,Choose the Category,Testing,2023-05-05,Pending,None,None,None
34155,2023-04-18,NaN,NaN,NaN,NaN,17789,2163,2,178091,Choose the Category,testing Description,2023-04-27,Pending,None,None,None
35801,2023-04-19,NaN,NaN,NaN,NaN,2164,7082,2,179737,Choose the Category,testing assign a new task to BM,2023-04-28,Pending,None,None,None
48028,2023-04-28,NaN,NaN,NaN,NaN,7082,7082,3,191964,Choose the Category,testing,2023-04-30,Pending,None,None,None

In [76]:
reqdf['assigned_to']

0        29938
1        30482
2        27245
3        27815
4        31063
         ...
48840    31150
48841    27611
48842    31452
48843    27790
48844    28450
Name: assigned_to, Length: 48845, dtype: int64

In [77]:
df[df['UserID'] == 7082]

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
1531,307,5,551,Alapur,7082,Surendra yadav,307,13,Branch Manager

In [78]:
sql_query = f"""SET NOCOUNT ON;EXEC [{db}].[dbo].[SP_UserHierarchy_Dynamic_07Jan23] @userid = 6892;SET NOCOUNT OFF"""
df=pd.read_sql_query(sql_query,engine)

In [79]:
reqdf['priority'].replace(1, 'Immediate')

0        Immediate
1        Immediate
2        Immediate
3        Immediate
4        Immediate
           ...
48840    Immediate
48841    Immediate
48842    Immediate
48843    Immediate
48844    Immediate
Name: priority, Length: 48845, dtype: object

In [80]:
len(reqdf)

48845

In [81]:
reqdf.to_csv('reqdfcsv.csv')

In [82]:
dF.to_csv('full_UHD.csv')

In [83]:
df.to_csv('UHD.csv')

In [84]:
df[df['UserID'] == 7665]

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
61,2155,2,1,Jaipur,7665,Krishna Vijay Singh,2155,58,Audit

In [85]:
df[df['buname'] == 'Moradabad']

,BUId,BUType,ReportingBUId,buname,UserID,UserName,U_BUID,RoleId,RoleName
35,654,2,1,Moradabad,7662,Sandeep Singh,654,34,DIVISION HEAD
36,654,2,1,Moradabad,7662,Sandeep Singh,654,44,Credit Committee
37,654,2,1,Moradabad,17560,Rashmi kumari,654,39,Disbursement Confirmer
38,654,2,1,Moradabad,19109,MAYANK PANDEY,654,58,Audit
39,654,2,1,Moradabad,23725,Rajnath Yadav,654,59,Risk manager
40,654,2,1,Moradabad,28117,SUNIL KUMAR,654,64,Verification Head
41,654,2,1,Moradabad,31995,PRINCE GAUTAM,654,58,Audit
101,1005,3,654,Moradabad,1968,sompal,1005,35,REGION HEAD
102,1005,3,654,Moradabad,31303,PRADEEP KUMAR,1005,58,Audit
246,592,4,1005,Moradabad,1965,sanjeew,592,36,HUB HEAD

In [86]:
user1 = os.environ['PAYMEE_SONTATA_DB_USER']
password = os.environ['PAYMEE_SONTATA_DB_PASSWORD']
db = "Sonata_Connect"
server = "172.17.130.216"
engine = create_engine(f"mssql+pyodbc://{user1}:{password}@{server}/{db}?driver=ODBC+Driver+17+for+SQL+Server")
sql_query = f"""SET NOCOUNT ON;EXEC [Sonata_Connect].[dbo].[CSP_STAGE_RESOLUTION] @userid = {7665};SET NOCOUNT OFF"""
sp_df=pd.read_sql_query(sql_query,engine)
userid_list = sp_df['USERID'].unique().tolist()
userid_list

[10803,
 10804,
 25320,
 29571,
 29609,
 29635,
 29654,
 29706,
 29830,
 31006,
 31044,
 31064,
 31452,
 31488,
 31489,
 31495,
 17658,
 17808,
 26882,
 27024,
 29983,
 30006,
 30022,
 31120,
 31122,
 31830,
 31875,
 31924,
 31927,
 4915,
 23734,
 28041,
 30663,
 30716,
 30726,
 30751,
 30778,
 30779,
 30832,
 30863,
 30865,
 31591,
 31594,
 31595,
 31596,
 31618,
 31684,
 31685,
 31687,
 31688,
 31717,
 24790,
 24947,
 25292,
 28185,
 28310,
 28337,
 28396,
 28416,
 28455,
 30450,
 30514,
 17967,
 21155,
 27460,
 27504,
 27534,
 27758,
 30155,
 30323,
 30331,
 31264,
 31946,
 32008,
 32013,
 32033]

In [87]:
def region_checker(rgn_id,user_id):
    """This function checks if a particular user belongs to the TEST region. To be used for WhatsAppBot Beta Testing"""
   
    user1 = os.environ['PAYMEE_SONTATA_DB_USER']
    password = os.environ['PAYMEE_SONTATA_DB_PASSWORD']
    db = "Sonata_Connect"
    server = "172.17.130.216"
    engine = create_engine(f"mssql+pyodbc://{user1}:{password}@{server}/{db}?driver=ODBC+Driver+17+for+SQL+Server")
    sql_query = f"""SET NOCOUNT ON;EXEC [Sonata_Connect].[dbo].[CSP_STAGE_RESOLUTION] @userid = {rgn_id};SET NOCOUNT OFF"""
    sp_df=pd.read_sql_query(sql_query,engine)
    userid_list = sp_df['UserID'].unique().tolist()
    if user_id in userid_list:
        return True
    else:
        return False

In [88]:
sp_df

,DIVID,DIVNAME,RGNID,RGNNAME,HUBID,HUBNAME,BRANCHID,BRANCHNAME,DisbursemmntID,ACTUALPAIDDATE,POS,OpeningDPD,CusrrentDPD,STAGE_REF,USERID,BRONAME
0,2155,Jaipur,1009,Bharatpur,575,Bharatpur,264,Bharatpur City,6787886,NaT,11027,212,240,3,10803,VIPATI RAM
1,2155,Jaipur,1009,Bharatpur,575,Bharatpur,264,Bharatpur City,6881764,NaT,12282,58,86,2,10804,BABALOO
2,2155,Jaipur,1022,Jaipur,573,Alawar,396,Govindgarh,6737754,NaT,3134,84,112,2,25320,GEETAM SINGH
3,2155,Jaipur,1009,Bharatpur,575,Bharatpur,266,Govardhan,6757459,NaT,11372,185,213,3,29571,CHANDRAKANT
4,2155,Jaipur,1022,Jaipur,2285,Khairthal,475,Tijara,6788317,NaT,13259,212,226,3,29609,SATISH KUMAR SURELA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,2155,Jaipur,1009,Bharatpur,575,Bharatpur,239,Dholpur,6709451,NaT,5417,141,155,3,32033,ANKIT SINGH
1972,2155,Jaipur,1009,Bharatpur,575,Bharatpur,239,Dholpur,6662470,NaT,500,98,126,3,32033,ANKIT SINGH
1973,2155,Jaipur,1009,Bharatpur,575,Bharatpur,239,Dholpur,7464755,NaT,21433,32,46,2,32033,ANKIT SINGH
1974,2155,Jaipur,1009,Bharatpur,575,Bharatpur,239,Dholpur,7366468,NaT,19480,70,98,2,32033,ANKIT SINGH
1975,2155,Jaipur,1009,Bharatpur,575,Bharatpur,239,Dholpur,6766391,NaT,11633,43,197,2,32033,ANKIT SINGH

In [89]:
reqdf.head()

,created_on,DivName,RegionName,HubName,BranchName,assigned_to,created_by,priority,task_id,category,task_description,deadline_date,status,completion_date,review,feedback
0,2023-04-01,NaN,NaN,NaN,NaN,29938,2271,1,129116,7,Customer (Customer id: Sdl:Bhr:01:006) is inte...,2023-04-01,Completed,2023-04-21,None,None
1,2023-04-01,NaN,NaN,NaN,NaN,30482,27199,1,129117,10,Customer (Customer id: Rab:cit:01:236:037) has...,2023-04-01,Pending,None,None,None
2,2023-04-01,NaN,NaN,NaN,NaN,27245,27199,1,129118,10,Customer (Customer id: Bab:cit:01:189:043) has...,2023-04-01,Pending,None,None,None
3,2023-04-01,NaN,NaN,NaN,NaN,27815,27815,1,129119,3,Customer (Customer id: 1397268) will pay an am...,2023-04-01,Pending,None,None,None
4,2023-04-01,NaN,NaN,NaN,NaN,31063,27199,1,129120,10,Customer (Customer id: Lko:mhn:01:116:004) has...,2023-04-01,Pending,None,None,None

In [90]:
df[df['UserID'] == 9731]

Empty DataFrame
Columns: [BUId, BUType, ReportingBUId, buname, UserID, UserName, U_BUID, RoleId, RoleName]
Index: []

In [91]:
a = "Customer (Customer id: 1397268) will pay an amount of 0 on 2023-04-01 10:30am by Cash|Collect at Customer's PlaceCustomer name Sunita bai   |contact number 9179450207|"